<div *ngIf="endNotesNumbers" class='supplementary-files-container'>
  <div *ngIf="endNotesNumbers.length==0">There are no end notes right now.You can be the first one to add a note with the
    "Add End Note" button.
  </div>
  <ng-container *ngIf="endNotesNumbers.length>0">
    <div cdkDropList class="end-notes-list" (cdkDropListDropped)="drop($event)">
      <div class="end-note-box" *ngFor="let endNoteNum of endNotesNumbers;let i = index" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div>
          <div class="end-note-view">
            <app-end-note [(endNote)]="endNotes![endNoteNum]" [endNoteIndex]="i"></app-end-note>
          </div>
          <div class="end-note-control-buttons">
            <button mat-raised-button (click)="editEndNote(endNotes![endNoteNum],i)">Edit End Note</button>
            <button mat-raised-button (click)="deleteEndNote(endNotes![endNoteNum],i)">Delete End Note</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="end-notes-buttons">
    <button mat-raised-button (click)="addEndNote()">Add End Note</button>
    <button mat-raised-button (click)="saveEndNotes()">Save End Notes</button>
    <button mat-raised-button (click)="cancelEndNotesEdit()">Cancel</button>
  </div>
</div>
