<h2 mat-dialog-title>Add figure component:</h2>

<div class="pm-pdf-menu-container"></div>

<mat-dialog-content class="dynamic-content-height">
  <div class="figure-component-edit">

    <div class="row-container">
      <mat-form-field class="url-edit-field">
        <mat-label>URL:</mat-label>
        <input type="url" matInput [formControl]="urlFormControl" placeholder="http://example.url">
        <!-- <mat-error *ngIf="urlFormControl.hasError('pattern') && !urlFormControl.hasError('required')">
          Please enter a valid url.
        </mat-error> -->
        <mat-error *ngIf="urlFormControl.hasError('required')">
          Url is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="type-edit-field" appearance="fill">
        <mat-label>Component type:</mat-label>
        <mat-select [formControl]="typeFromControl">
          <mat-option *ngFor="let type of types" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="typeFromControl.hasError('required')">
          Type is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row-container">

      <div class="description-edit-container">
        <h3>Component Description:</h3>
        <div class="pm-editor" #componentDescription></div>
      </div>

      <div class="figure-component-edit-preview">
        <div *ngIf="typeFromControl.valid&&urlFormControl.valid">
          <img *ngIf="typeFromControl.value == 'image'" src="{{urlFormControl.value}}" alt="">
          <iframe *ngIf="typeFromControl.value == 'video'" [src]="urlFormControl.value | safe">
          </iframe>
        </div>
      </div>

    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button color="primary" (click)="closeDialog()">Cancel</button>
  <button mat-flat-button color="primary" [disabled]="!typeFromControl.valid||!urlFormControl.valid" (click)="submitDialog()">Submit</button>
</mat-dialog-actions>
