::ng-deep mat-formio-form-field {
  .mat-form-field {
    max-height: 35px;
    padding-left: 6px;
    border: 1px solid #e3e3e3 !important;
    transition: all ease-in-out 300ms;
    border-radius: 6px !important;
    margin-bottom: 14px;
  }

  .mat-error {
    color: #e56b87 !important;
    font-size: 12px;
    font-weight: bold;
  }

  .mat-form-field-invalid label span {
    color: #e56b87 !important;
  }

  .mat-form-field.mat-form-field-invalid {
    border: 1px solid #e56b87 !important;
  }

  .upper-label {
    span {
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 4px;
      padding-left: 4px;
      color: #192956;
    }
  }

  .mat-form-field-suffix {
    padding-right: 6px;
    cursor: pointer;
    color: #8890A8;
  }

  .mat-form-field-underline {
    display: none;
  }
}

::ng-deep mat-formio-form-field {
  .mat-form-field {
    .mat-form-field-infix {
      transform: translateY(-7px) !important;
    }
  }
}

mat-formio-form-field .mat-form-field.mat-focused {
  border: 1px solid #00b1b2 !important;
}
