<!-- <span class="avatar"></span> 
<ngx-avatar facebookId="1508319875"></ngx-avatar>
<ngx-avatar googleId="1508319875"></ngx-avatar>
<ngx-avatar twitterId="1508319875"></ngx-avatar>
<ngx-avatar instagramId="dccomics" size="70"></ngx-avatar>
<ngx-avatar skypeId="1508319875"></ngx-avatar>
<ngx-avatar gravatarId="adde9b2b981a8083cf084c63ad86f753"></ngx-avatar>
<ngx-avatar gravatarId="user@gmail.com"></ngx-avatar>
<ngx-avatar src="assets/avatar.jpg"></ngx-avatar>
<ngx-avatar name="John Doe"></ngx-avatar>
<ngx-avatar value="75%"></ngx-avatar> -->

<!-- <ngx-avatar 
facebookId="userFacebookID" 
skypeId="userSkypeID"
 googleId="google" 
 name="Haithem Mosbahi" 
 src="assets/avatar.jpg"
twitterId="twitter"
 gravatarId="adde9b2b981a8083cf084c63ad86f753" 
 [round]="true">
</ngx-avatar> -->

<ngx-avatar [round]="true"   name="Maria Nikolova" gravatarId="adde9b2b981a8083cf084c63ad86f753"></ngx-avatar>