.avatar {
    height: 35px;
    width: 35px;
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
    border: 1px solid var(--color-00b1b2);
    // margin-right: 8px;
    border-radius: 50%;
  }