BUILD_NUMBER=1
AUTH_SERVER='https://ps-accounts.dev.scalewest.com'
AUTH_URL='https://ps-accounts.dev.scalewest.com/api'
API_URL='https://ps-api.dev.scalewest.com/api'
PASSPORT_CLIENT_ID='96c50ae2-91d6-4df2-b9b0-1b1f5ef40def'
ENV_WEBSOCKET_HOST='ps-article-storage.dev.scalewest.com'
ENV_WEBSOCKET_PORT=443
EXTERNAL_REFS_API_PROD="https://refindit.org/find"
EXTERNAL_REFS_API_DEV="/find"
