<mat-toolbar color="primary" class="toolbar" *ngIf="authService.isLoggedIn()">
  <mat-toolbar-row class="toolbar-row">

    <button mat-icon-button class="menu">
      <mat-icon (click)="toggleTreeDrawer()">menu</mat-icon>
    </button>

    <a class="logo" href="/">
      <img src="./assets/logo/arpha.svg" width="150" height="40" title="Home" alt="Home">
    </a>

    <div class="profile-details">
      <div (mouseover)="changeText=true" (mouseout)="changeText=false">
        <div *ngIf="!changeText" class="eye-icon" (click)="openDashBoard()">
          <mat-icon svgIcon="dashboard"></mat-icon>
        </div>
        <div *ngIf="changeText" class="eye-icon" (click)="openDashBoard()">
          <mat-icon svgIcon="dashboard"></mat-icon><span class="text-dashbord-header">Dashboard</span>
        </div>
      </div>
      <app-theme-toggle class="theme-toggle"></app-theme-toggle>
      <ng-container *ngIf="authService.currentUserSubject | async as user">
        <ngx-avatar size="36" [gravatarId]="user.email" [name]="user.name" bgColor="#00B3B4"></ngx-avatar>
      </ng-container>
      <app-notifications class="notifications-component" ></app-notifications>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon color="primary" (click)="changeIcon('expand_less')">{{icon}}</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/user-profile">
          <span>View Profile</span>
        </button>
        <button mat-menu-item routerLink="/edit-profile">
          <span>Edit Profile</span>
        </button>
        <arpha-button label="Log Out" (clickEvent)="authService.logout();" class="text-icon upload-row"></arpha-button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
