<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row class="toolbar-row">

    <button mat-icon-button class="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="logo" href="/">
      <img src="./assets/logo/arpha.svg" width="150" height="40" title="Home" alt="Home">
    </a>

    <div class="profile-details">
      <span class="eye-icon">
        <mat-icon svgIcon="dashboard"></mat-icon>
      </span>
      <app-theme-toggle class="theme-toggle"></app-theme-toggle>
      <span class="avatar"></span>
      <span class="arrow-icon">
        <mat-icon>expand_more</mat-icon>
      </span>
    </div>

  </mat-toolbar-row>
</mat-toolbar>