<div *ngIf="supplementaryFilesNumbers" class='supplementary-files-container'>
  <div *ngIf="supplementaryFilesNumbers.length==0">There are no supplementary files right now.You can be the first one to add a file with the
    "Add Supplementary File" button.
  </div>
  <ng-container *ngIf="supplementaryFilesNumbers.length>0">
    <div cdkDropList class="supplementary-files-list" (cdkDropListDropped)="drop($event)">
      <div class="supplementary-file-box" *ngFor="let supplementaryFileNum of supplementaryFilesNumbers;let i = index" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div>
          <div class="supplementary-file-view">
            <app-supplementary-file [(supplementaryFile)]="supplementaryFiles![supplementaryFileNum]" [supplementaryFileIndex]="i"></app-supplementary-file>
          </div>
          <div class="supplementary-file-control-buttons">
            <button mat-raised-button (click)="editSupplementaryFile(supplementaryFiles![supplementaryFileNum],i)">Edit supplementary file</button>
            <button mat-raised-button (click)="deleteSupplementaryFile(supplementaryFiles![supplementaryFileNum],i)">Delete supplementary file</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="supplementary-files-buttons">
    <button mat-raised-button (click)="addSupplementaryFile()">Add Supplementary File</button>
    <button mat-raised-button (click)="saveSupplementaryFiles()">Save Supplementary Files</button>
    <button mat-raised-button (click)="cancelSupplementaryFilesEdit()">Cancel</button>
  </div>
</div>
