<section class="example-container">
  <div class="container-shadow br-15px mt35px p26px h867px">
    <article fxLayout="row" fxFill>
      <div class="mt20px">
        <button mat-button (click)="openchooseDialog()" class="btn-start-new-project">
          <mat-icon svgIcon="dasboardNewProject" class="icon-plus"></mat-icon>Start new project
        </button>
      </div>
    </article>
    <article fxLayout="row" fxLayoutAlign="start center">
      <form (keydown)="search(inputText)" fxFlex="90%" fxLayoutAlign="start center">
        <mat-form-field class="width-input">
          <input matInput type="text" #inputText class="input-search" placeholder="Search by Name">
          <mat-icon matPrefix class="prefix-icon">search</mat-icon>
        </mat-form-field>
        <mat-form-field class="width-select">
          <mat-label class="type-select-label">Type</mat-label>
          <mat-select #matSelect (selectionChange)="filterByType(matSelect.value)">
            <ng-container *ngFor="let type of articleLayouts">
              <mat-option value="{{type.id}}">{{type.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </form>
    </article>

    <div class="searchDiv"></div>
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>

    <div class="example-table-container">

      <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
        <!-- Number Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>ID</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Title</th>
          <td mat-cell *matCellDef="let row" (click)="editArticle(row)" style="cursor:pointer;">{{row.name}}</td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="layout-type">
          <th mat-header-cell *matHeaderCellDef>Layout Type</th>
          <td mat-cell *matCellDef="let row">
            {{row.layout?row.layout.name + ' v.' + row.layout.version: 'DELETED'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="template-type">
          <th mat-header-cell *matHeaderCellDef>Template Type</th>
          <td mat-cell *matCellDef="let row">
            {{row.layout ? row.layout.template.name + ' v.' + row.layout.template.version : '---'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="lastupdated">
          <th mat-header-cell *matHeaderCellDef>Last updated</th>
          <td mat-cell *matCellDef="let row">{{row.updated_at | date }}</td>
        </ng-container>
        <!-- Created Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Date</th>
          <td mat-cell *matCellDef="let row">{{row.created_at | date}}</td>
        </ng-container>

        <ng-container matColumnDef="autor">
          <th mat-header-cell *matHeaderCellDef>Autor</th>
          <td mat-cell *matCellDef="let row">
            <div class="more-avatar">
              <app-avatar></app-avatar>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="buttons">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" align="end">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
            <mat-menu class="buttons-menu" #menu="matMenu">
              <button mat-menu-item>
              <mat-icon svgIcon="dashboardClock" class="clock-icon"></mat-icon>
            </button>
              <button mat-menu-item (click)="editArticle(row)">
              <mat-icon svgIcon="dashboardEdit"  class="edit-icon"></mat-icon>
            </button>
              <button mat-menu-item (click)="deleteArticle(row)">
              <mat-icon svgIcon="dashboardDelete" class="delete-icon"></mat-icon>
              </button>
            </mat-menu>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div class="paginator" fxLayoutAlign="center center">
    <mat-paginator [pageSize]="7" [length]="resultsLength">
    </mat-paginator>
  </div>

</section>
