/* Structure */

@import "../../../assets/colors";
.example-container {
  // position: relative;
  width: 1098px;
  margin: 0 auto;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  height: auto;
  max-height: 800px;
  overflow: auto;
}

table {
  width: 100%;
}

.input-search {
  border-radius: 18px;
  border: 1px solid $primary-green;
  line-height: 39px;
  padding-left: 25px;
  width: 99%;
  color: $black;
  vertical-align: middle;
}

::ng-deep .buttons-menu {
  div {
    display: flex;
    button {
      width: 100%;
      margin: 0;
      margin-right: 8px;
      margin-right: 8px;
      mat-icon {
        margin: 0 !important;
      }
    }
    button:first-of-type {
      margin-left: 16px;
    }
    button:last-of-type {
      margin-right: 16px;
    }
  }
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}


/* Column Widths */

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.btn-start-new-project {
  color: $h-green;
  font-size: 18px;
  padding: 0;
}

.icon-plus {
  height: 40px !important;
  width: 40px !important;
}

.width-input {
  width: 476px;
  margin: 0 32px 0 0;
}

.width-select {
  width: 100px;
}

.type-select-label {
  color: $h-green;
  font-size: 19px;
  font-weight: bold;
}

.p26px {
  padding: 0 26px 26px 26px;
}

.prefix-icon {
  margin-right: -40px;
  color: $light-grey;
  z-index: 1;
  position: relative;
  top: 5px;
  left: 5px;
}

.mat-select-arrow-wrapper {
  padding: 10px 0 0 0;
}

.ng-star-inserted {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  // padding-left: 35px !important;
}

.mat-header-row {
  background: $dropzone-bg;
}

th {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

th:first-child {
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
}

th:last-child {
  border-bottom-right-radius: 28px;
  border-top-right-radius: 28px;
}

td:first-child {
  font-weight: bold;
}

.more-avatar {
  float: left;
  margin-left: -10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
}

.paginator {
  margin: 15px 0 0 0;
}

.paginator.mat-paginator-range-actions>button {
  background: $primary-green;
  color: #fff;
}

.mat-select-trigger {
  display: block !important;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(primary-green)
}

::ng-deep app-add-figure-dialog {
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $primary-green !important;
  }
}
