mat-tree {
  background: var(--color-f9fafc);
}

.tree-node {
  display: block;
}

.tree-node .leaf-tree-node {
  margin-left: 48px;
}

.mat-tree-node {
  padding: 0;
  background: var(--color-f9fafc);
  padding-left: 5px;
}

.mat-nested-tree-node {
  top: -24px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.tree-container {
  border-bottom: 0;
}

.leaf-tree-node {
  padding-left: 41px;
}

ul .leaf-tree-node {
  margin-left: 50px;
  padding-left: 12px;
}

ul li {
  border: 1px solid;
  border-color: var(--color-00b1b2);
  border-width: 0 0 1px 1px;
  position: relative;
  top: -10px;
  height: 30px;
}

ul li.mat-tree-node,
ul li div {
  margin: 0;
  position: relative;
  top: 7px;
}