@import "/src/assets/colors";

.section-choose {
  padding: 24px 0 24px 0;
}

.error {
  background-color: $error-red;
}

label {
  color: $light-grey;
}

.search-field-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: white;
}

.mat-form-field-underline {
  background-color: transparent !important;
}
