<h2 mat-dialog-title>Add section to Article</h2>

<div class="search-field-wrapper">
  <form (keydown.enter)="search(inputText.value)" fxFlex="100%" fxLayout="column">
    <label>Select a section</label>
    <mat-form-field floatLabel="never" appearance="standard">
      <input matInput type="text" #inputText placeholder="Search for section">
      <button mat-flat-button color="primary" type="submit" matSuffix (click)="search(inputText.value)">
        Search
      </button>
    </mat-form-field>
  </form>
</div>

<mat-dialog-content class="fixed-dialog-content-height">

  <div *ngIf="showError" class="error">No Section selected.</div>

  <div *ngIf="sectionTemplates.length == 0">
    There are no manuscripts found with this criteria
  </div>

  <mat-selection-list #topic [multiple]="false">
    <mat-list-option *ngFor="let section of searchResults" [value]="section.id">
      {{section.name}}
    </mat-list-option>
  </mat-selection-list>

</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button (click)="closeSectionChoose()">
    Cancel
  </button>
  <button mat-flat-button color="primary" (click)="chooseSection(topic.selectedOptions.selected[0]?.value)">
    Add Section
  </button>
</mat-dialog-actions>
