<div class="refs-in-article">
  <h1>Citation Properties</h1>
  <div class="all-refs-container">
    <div class="ref-container">
      <div><mat-checkbox>Reference should be here</mat-checkbox></div>
    </div>
  </div>
  <div class="action-buttons">
    <div class="dialog-actions-btns">
      <button mat-raised-button>Cite selected reference(s)</button>
      <button mat-raised-button>
        <mat-icon>add</mat-icon>
        <span>Add new reference</span>
      </button>
      <button mat-raised-button>Close</button>
    </div>
  </div>
</div>
