<h2 mat-dialog-title class="title-margin-bottom">Cite Reference</h2>

<div class="search-field-wrapper">
  <div class="mat-form-field-search-label">Search References</div>
  <mat-form-field class="mat-form-field-search" appearance="fill">
    <input type="text"
           class="input-search"
           placeholder="Start typing author, article name, etc…."
           matInput
           [formControl]="searchControl"
           autocomplete="off">
    <mat-icon matPrefix class="prefix-icon">search</mat-icon>
  </mat-form-field>
</div>

<mat-dialog-content class="fixed-dialog-content-height">
  <div class="all-refs-container">
    <div class="mat-checkbox-group" fxLayout="column nowrap">
      <ng-container *ngFor="let ref of ydocRefsSubject | async">
        <div class="ref-container">
          <mat-checkbox class="ref-checkbox"
            [checked]="checkedRefs.includes(ref.ref.id)"
            (change)="checkBoxChange($event.checked,ref)"
            [color]='"primary"'>
              <span class="ref-txt" [innerHTML]="ref.citation.textContent | makeTextBold : searchValue"></span>
            </mat-checkbox>
            <mat-form-field class="ref-cito-select" *ngIf="ref.refCiTOControl" appearance="fill" #referenceType>
              <mat-select class="select-reference" [formControl]="ref.refCiTOControl" placeholder="CiTO...">
                <mat-option *ngFor="let type of CiToTypes " [value]="type">
                  {{type.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
      </ng-container>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button (click)="closeDialog()">Cancel</button>
  <button mat-stroked-button color="primary" (click)="openAddNewRefToEditorDialog()">Add Reference</button>
  <button mat-flat-button color="primary" [disabled]="checkedRefs.length==0" (click)="citeSelectedRefs()">
    Cite References
  </button>
</mat-dialog-actions>
