<ng-container *ngIf="startFromIndex == 0">
    <div cdkDropList class="outer-list" (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let node of articleSectionsStructure;index as i">
            <div class="node-box" *ngIf="node.children.length == 0" cdkDrag>
                <div [style.position]='"relative"' (mouseover)="showButtons(cdkDragSection,true,'sectionBorder','selectedEditor',node)" (mouseout)="showButtons(cdkDragSection,false,'sectionBorder','selectedEditor',node)" #cdkDragSection>
                    <div class="border-placeholder" *cdkDragPlaceholder>
                        <div class="border-view"></div>
                    </div>
                    <div class='sectionBorderInactive border ' [ngClass]="{'selectedEditor' : node.sectionID == focusedId&&mouseOn!==node.sectionID}">
                        <button [style.display]="'none'" mat-icon-button cdkDragHandle class="drag_btn hidden drag_btn_leaf_node"><mat-icon >drag_indicator</mat-icon></button>
                        <div class="text-section-div">
                            {{node.title.titleContent}}
                        </div>
                    </div>
                    <div class="section_btn_container">
                        <button [style.display]="'none'" [ngStyle]="node.edit.main?{'order':'1','margin': '2px'}:{}" mat-mini-fab class="section_btn_outerList hidden" *ngIf="node.edit.bool" (click)="editNodeHandle(node);node.active = true"><mat-icon class="matIcon" >edit</mat-icon></button>
                        <button [style.display]="'none'" [ngStyle]="!node.add.main?{'order':'-2'}:{'order':'1','margin': '2px'}" mat-mini-fab class="section_btn_outerList hidden" *ngIf="node?.add?.bool" (click)="addNodeHandle(node.sectionID)"><mat-icon class="matIcon">add</mat-icon ></button>
                        <button [style.display]="'none'" [ngStyle]="!node.delete.main?{'order':'2'}:{'order':'-1','margin': '2px'}" mat-mini-fab class="section_btn_outerList hidden" *ngIf="node?.delete?.bool" (click)="deleteNodeHandle(node.sectionID)"><mat-icon class="matIcon">remove_circle_outline</mat-icon></button>
                    </div>
                </div>
            </div>
            <div class="node-box-dropdownbox" *ngIf="node.children.length > 0" cdkDrag>
                <div class="border-placeholder" *cdkDragPlaceholder>
                    <div class="border-view"></div>
                </div>
                <div [style.position]='"relative"' (mouseover)="showButtons(cdkDragWithChildren,true,'sectionBorderListItem','selectedEditor',node)" (mouseout)="showButtons(cdkDragWithChildren,false,'sectionBorderListItem','selectedEditor',node)" #cdkDragWithChildren>
                    <div class=' border' [ngClass]="{'selectedEditor' : node.sectionID == focusedId&&mouseOn!==node.sectionID,'sectionBorderListItemInactive' : mouseOn!==node.sectionID}">
                        <button [style.display]="'none'" mat-icon-button cdkDragHandle class="drag_btn hidden drag_btn_list_node"><mat-icon >drag_indicator</mat-icon></button>
                        <button #expandBtn mat-icon-button class="expandBTN" (click)="changeDisplay(childrenDiv);listDiv.style.display == 'none'?icons[i]='chevron_right':icons[i]='expand_more'"><mat-icon class="{{icons[i]}}"  #icon>{{icons[i]}}</mat-icon></button>
                        <div class="text-section-list-item-div">
                            {{node.title.titleContent}}
                        </div>
                    </div>

                    <div class="section_btn_container">
                        <button [style.display]="'none'" [ngStyle]="node.edit.main?{'order':'1','margin': '2px'}:{}" mat-icon-button class="section_btn_outerList hidden" *ngIf="node.edit.bool" (click)="editNodeHandle(node);node.active = true"><mat-icon class="matIcon">edit</mat-icon></button>
                        <button [style.display]="'none'" [ngStyle]="!node.add.main?{'order':'-2'}:{'order':'1','margin': '2px'}" mat-icon-button class="section_btn_outerList hidden" *ngIf="node?.add?.bool" (click)="addNodeHandle(node.sectionID)"><mat-icon class="matIcon">add</mat-icon></button>
                        <button [style.display]="'none'" [ngStyle]="!node.delete.main?{'order':'2'}:{'order':'-1','margin': '2px'}" mat-mini-fab class="section_btn_outerList hidden" *ngIf="node?.delete?.bool" (click)="deleteNodeHandle(node.sectionID)"><mat-icon class="matIcon">remove_circle_outline</mat-icon></button>
                    </div>


                </div>
                <div #listDiv class="example-list-dropdownbox" [style.display]="'none'" #childrenDiv>

                    <app-cdk-list-recursive *ngIf="node.children.length > 0" [(articleSectionsStructure)]="node.children" [parentListData]="{expandParentFunc,listDiv}" [startFromIndex]="startFromIndex+i+1" [id]='node.sectionID'></app-cdk-list-recursive>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="startFromIndex >= 1">
    <div cdkDropList class="nested-list" (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let node of articleSectionsStructure;index as i">
            <div class="node-box-nested" *ngIf="node.children.length == 0" cdkDrag>
                <div [style.position]='"relative"' (mouseover)="showButtons(cdkDragSection,true,'sectionBorderNested','selectedEditorNestedLeaf',node)" (mouseout)="showButtons(cdkDragSection,false,'sectionBorderNested','selectedEditorNestedLeaf',node)" #cdkDragSection>
                    <div class="text-placeholder"></div>
                    <div class="border-placeholder-nested" *cdkDragPlaceholder>
                        <div class="border-view"></div>

                    </div>
                    <div class='sectionBorderNestedInactive border' [ngClass]="{'selectedEditorNestedLeaf' : node.sectionID == focusedId&&mouseOn!==node.sectionID}">
                        <button [style.display]="'none'" mat-icon-button cdkDragHandle class="drag_btn hidden drag_btn_leaf_node_nested"><mat-icon >drag_indicator</mat-icon></button>
                        <div class="text-section-div-nested">
                            {{node.title.titleContent}}
                        </div>
                    </div>
                    <div class="section_btn_container">
                        <button [style.display]="'none'" [ngStyle]="node.edit.main?{'order':'1','margin': '2px'}:{}" mat-mini-fab class="section_btn hidden" *ngIf="node.edit.bool" (click)="editNodeHandle(node)"><mat-icon class="matIcon">edit</mat-icon></button>
                        <button [style.display]="'none'" [ngStyle]="!node.add.main?{'order':'-2'}:{'order':'1','margin': '2px'}" mat-mini-fab class="section_btn hidden" *ngIf="node?.add?.bool" (click)="addNodeHandle(node.sectionID)"><mat-icon class="matIcon">add</mat-icon></button>
                        <button [style.display]="'none'" [ngStyle]="!node.delete.main?{'order':'2'}:{'order':'-1','margin': '2px'}" mat-mini-fab class="section_btn hidden" *ngIf="node?.delete?.bool" (click)="deleteNodeHandle(node.sectionID)"><mat-icon class="matIcon">remove_circle_outline</mat-icon></button>
                    </div>

                </div>
            </div>
            <div class="node-box-dropdownbox-nested" *ngIf="node.children.length > 0" cdkDrag>
                <div class="border-placeholder-nested" *cdkDragPlaceholder>
                    <div class="border-view"></div>
                </div>
                <div [style.position]='"relative"'  (mouseover)="showButtons(cdkDragWithChildren,true,'sectionBorderListNested','selectedEditorNestedList',node)" (mouseout)="showButtons(cdkDragWithChildren,false,'sectionBorderListNested','selectedEditorNestedList',node)" #cdkDragWithChildren>
                    <div class="text-placeholder-nested"></div>
                    <div class='border' [ngClass]="{'selectedEditorNestedList' : node.sectionID == focusedId&&mouseOn!==node.sectionID,'sectionBorderListNestedInactive' : mouseOn!==node.sectionID}">
                        <button [style.display]="'none'" mat-icon-button cdkDragHandle class="drag_btn hidden drag_btn_list_node_nested"><mat-icon >drag_indicator</mat-icon></button>
                        <button #expandBtn mat-icon-button class="expandBTNNested" (click)="changeDisplay(childrenDiv);listDiv.style.display == 'none'?icons[i]='chevron_right':icons[i]='expand_more'"><mat-icon class="{{icons[i]}}" #icon>{{icons[i]}}</mat-icon></button>
                        <div class="text-section-div-nested">
                            {{node.title.titleContent}}
                        </div>
                    </div>
                    <div class="section_btn_container">
                        <button [style.display]="'none'" [ngStyle]="node.edit.main?{'order':'1','margin': '2px'}:{}" mat-icon-button class="section_btn_nestedList hidden" *ngIf="node.edit.bool" (click)="editNodeHandle(node)"><mat-icon class="matIcon">edit</mat-icon></button>
                        <button [style.display]="'none'" [ngStyle]="!node.add.main?{'order':'-2'}:{'order':'1','margin': '2px'}" mat-icon-button class="section_btn_nestedList hidden" *ngIf="node?.add?.bool" (click)="addNodeHandle(node.sectionID)"><mat-icon class="matIcon">add</mat-icon></button>
                        <button [style.display]="'none'" [ngStyle]="!node.delete.main?{'order':'2'}:{'order':'-1','margin': '2px'}" mat-mini-fab class="section_btn_nestedList hidden" *ngIf="node?.delete?.bool" (click)="deleteNodeHandle(node.sectionID)"><mat-icon class="matIcon">remove_circle_outline</mat-icon></button>
                    </div>


                </div>
                <div #listDiv class="example-list-dropdownbox-nested" [style.display]="'none'" #childrenDiv>
                    <div *ngIf="i!==articleSectionsStructure.length-1" class="vertical_line_nestedList"></div>

                    <app-cdk-list-recursive *ngIf="node.children.length > 0" [(articleSectionsStructure)]="node.children" [parentListData]="{expandParentFunc,listDiv}" [startFromIndex]="startFromIndex+i+1" [id]='node.sectionID'></app-cdk-list-recursive>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>
