<ng-container>
    <div *ngIf="error" class="error-list-drop">Level of list tree cannot be higher than 4!</div>
    <div cdkDropList [ngClass]="{'outer-list':!nestedList,'nested-list':nestedList}" (cdkDropListDropped)="drop($event)" id="{{listParentId}}" [cdkDropListConnectedTo]="connectedTo" [cdkDropListData]="articleSectionsStructure">
        <ng-container *ngFor="let node of articleSectionsStructure;index as i">
            <app-section-leaf [(node)]="node!" [parentListData]="listData" [nodeFormGroup]="sectionsFormGroups[node.sectionID]" [sectionsFormGroupsRef]="sectionsFormGroups" [parentId]="listParentId" [lastNestedChild]="i==articleSectionsStructure.length-1" [nestedNode]="nestedList"
                [hasChildren]="node.children.length>0"></app-section-leaf>
        </ng-container>
    </div>
</ng-container>