<div class="main">

  <div class="logo">
    <img src="./assets/img/logo1.svg" height="42px" width="197px" alt="arpha">
  </div>

  <div class="logo-mobile">
    <img src="./assets/logo/arpha.svg" width="144px" alt="arpha">
  </div>

  <div class="register">

    <div class="title-container">Login</div>

    <form class="form-container" [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="form-a">
        <label class="arpha-label character-style-11">{{'Email*'}}</label>
        <div class="arpha-input-container">
          <input
            class="arpha-input"
            type="email"
            formControlName="email"
            label="Email*"
            placeholder="Email address"
            id="email"

          >

        </div>
        <!--<input
          type="email"
          formControlName="email"
          label="Email*"
          placeholder="Email address"
          id="email"

        >-->
      </div>
      <div class="form-b">
        <label class="arpha-label character-style-11">{{'Password*'}}</label>
        <div class="arpha-input-container">
          <input
            class="arpha-input"
            formControlName="password"
            type="password"
            label="Password*"
            placeholder="Password"
            id="password"

          >
        </div>
        <!--        <input
                  formControlName="password"
                  type="password"
                  label="Password*"
                  placeholder="Password"
                  id="password"

                >-->
      </div>
      <div class="password-link"><a>Forgot your password?</a></div>
      <div class="error-container" #errorContainer>{{errorText}}</div>
      <arpha-button label="Login" type="submit" class="primary large login-button"></arpha-button>
      <div class="text">or</div>
      <arpha-button (clickEvent)="goToRegister()" label="Register" class="secondary large register-button"></arpha-button>
      <div class="crossed-title">
        <span>or Login with</span>
      </div>
    </form>

    <div class="link-container">
      <!--      <arpha-button label="ORCID" class="secondary small icon-text" icon="dashboard"></arpha-button>-->
      <!--      <arpha-button label="Google" class="secondary small icon-text" icon="dashboard"></arpha-button>-->
      <!--      <arpha-button label="Linkedin" class="secondary small icon-text" icon="dashboard"></arpha-button>-->
      <!--      <arpha-button label="Facebook" class="secondary small icon-text" icon="dashboard"></arpha-button>-->
      <arpha-button type="button" label="Pensoft" class="rensoft-login-btn secondary large icon-text" icon="dashboard"  (mouseup)="signIn()">
      </arpha-button>
      <arpha-button type="button" label="ORCID" class="secondary large icon-text" (mouseup)="orcidSignIn()"></arpha-button>
    </div>

    <div class="link-container-mobile">
      <!--<div>
        <arpha-button label="ORCID" class="secondary small icon-text" icon="dashboard"></arpha-button>
        <arpha-button label="Google" class="secondary small icon-text" icon="dashboard"></arpha-button>
      </div>
      <div>
        <arpha-button label="Linkedin" class="secondary small icon-text" icon="dashboard"></arpha-button>
        <arpha-button label="Facebook" class="secondary small icon-text" icon="dashboard"></arpha-button>
      </div>-->
      <arpha-button type="button" label="Pensoft" class="rensoft-login-btn secondary large icon-text" icon="dashboard" (mouseup)="signIn()"></arpha-button>
      <arpha-button type="button" label="ORCID" class="rensoft-login-btn secondary large icon-text" (mouseup)="orcidSignIn()"></arpha-button>
    </div>

  </div>
</div>
