.search-in-refindit{
  width: 100%;
  display: block;
}

.external-search-label{
  margin-top: 30px;
  display: block;
}

.btn-container{
  text-align: left;
  margin: 24px 0 0 0;
}

.loading-data-spinner{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.select-ref-form-field{
  width: 100%;
}

::ng-deep .add-new-ref-tabs{
  height: 100%;
  .mat-tab-body-wrapper{
    height: 100%;
  }
}

.add-new-ref-tabs {
  gap: 24px;
}
