.search-in-refindit{
  width: 100%;
  display: block;
}

.external-search-label{
  margin-top: 30px;
  display: block;
}

.btn-container{
  text-align: left;
  margin: 24px 0 0 0;
}

.loading-data-spinner{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

::ng-deep .refindit-autocomplete-option{
  .mat-option-text{
    display: block !important;
    .option-refindit-view{
      width: 100%;
      font-size: 14px;
      .refindit-first-author, .refindit-title, .refindit-year, .refindit-source{
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .refindit-first-author{
        width: 20%;
      }
      .refindit-year{
        width: 7%;
      }
      .refindit-source{
        width: 10%;
      }
      .refindit-title{
        width: 63%;
      }
    }
  }
}

.select-ref-form-field{
  width: 98%;
  margin-top: 20px;
}

.mat-select {
  margin-top: 10px;
}

::ng-deep .add-new-ref-tabs{
  height: 100%;
  .mat-tab-body-wrapper{
    height: 100%;
  }
}

.add-new-ref-tabs {
  gap: 24px;
}
