<mat-tab-group class="add-new-ref-tabs" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Import tools">
    <div class="tab0">
      <label class="external-search-label">Search in CrossRef, PubMed, RefBank, Agris, DataCite & GNUB</label>
      <mat-form-field class="search-in-refindit">
        <input type="text" placeholder="Type here..." aria-label="References" matInput #trigger="matAutocompleteTrigger" matAutocompletePosition="below" [formControl]="searchReferencesControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <ng-container>
            <mat-option *ngIf="loading" class="is-loading" >
              <mat-spinner diameter="25"></mat-spinner>
            </mat-option>
          </ng-container>
          <ng-container *ngIf="searchData">
            <mat-option [class.demo-row-is-clicked]="option == externalSelection" *ngFor="let option of searchData" [value]="option" (click)="select(option, 'external');$event.stopPropagation(); trigger.openPanel()">
              {{option.ref.title}}
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!-- <div class="dropzone">
      <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)"/>
      <h3>Drag and drop file here</h3>
      <h3>or</h3>
      <label for="fileDropRef">Browse for file</label>
    </div> -->
    <div class="btn-container">
      <button mat-raised-button (click)="addReFindItRef()" [disabled]="!externalSelection">Add Reference</button>
    </div>
  </mat-tab>
  <mat-tab label="Manual input">
    <mat-spinner class="loading-data-spinner" [ngStyle]="{display:loadingRefDataFromBackend?'block':'none'}"></mat-spinner>
    <div *ngIf="!loadingRefDataFromBackend" class="tab1">
        <mat-form-field appearance="fill" #referenceType class="select-ref-form-field">
          <mat-label class="">Types:</mat-label>
          <mat-select [formControl]="referenceFormControl" class="select-reference" (selectionChange)="generateFormIOJSON(referenceFormControl.value)">
            <mat-option *ngFor="let type of referenceTypesFromBackend " [value]="type">
              {{type.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <div class="formio-container">
        <div [formGroup]="referenceForms" *ngIf="formIOSchema" class="formio-inner-container">
          <mat-formio #formio [form]="formIOSchema" (change)="onChange($event)"></mat-formio>
        </div>
      </div>
      <div class="btn-container">
        <button mat-raised-button (click)="onSubmit()" [disabled]="!dataSave||!isModified||!isValid">Add Reference</button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
