<p>Description</p>
<!-- <app-prosemirror-editor [editorData]='taxonomicData?.description'></app-prosemirror-editor>

<div class='taxonomic' *ngFor="let taxa of taxonomicData?.taxaArray!" >
  <mat-card>
    <div>
      <div class="prosemirror-label">Scientific Name</div>
      <div class="prosemirror-label">Common Name</div>
      <div class="dropdown-label">Rank</div>
    </div>
    <div>
      <app-prosemirror-editor [editorData]='taxa.scietificName'></app-prosemirror-editor>
      <app-prosemirror-editor [editorData]='taxa.commonName'></app-prosemirror-editor>
      <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option *ngFor="let rank of taxa.rank!.options" [value]="rank">
            {{rank}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>
</div> -->