<button mat-raised-button class="figures-button" (click)="openFiguresDialog()">Figures</button>
<button mat-raised-button class="figures-button" (click)="addNewSectionToArticle()">Add Section</button>
<button [ngStyle]="{display:'none'}" mat-raised-button class="figures-button" (click)="logData()">LogData()</button>
<button [ngStyle]="{display:'none'}" mat-raised-button class="figures-button" (click)="resetCitatsObj()">Reset citats Obj</button>
<button [ngStyle]="{display:'none'}" mat-raised-button class="figures-button" (click)="refreshToken()">Refresh Token</button>
<button mat-raised-button class="figures-button" (click)="showArticleData()">Show article data</button>
