mat-card {
  height: 100%;
  box-shadow: none !important;

  mat-card-header {
    justify-content: center;
    flex-direction: row-reverse;

    mat-icon {
      width: 18px;
      height: 18px;
    }

    mat-card-title {
      text-align: left;
      font: normal normal normal 14px/19px Open Sans;
      letter-spacing: 0;
      color: #223361;
      opacity: 1;
    }
  }

  mat-card-header::before {
    content: "";
    position: absolute;
    background-color: #e3e3e3;
    width: 55%;
    height: 1px;
    top: 42px;
    left: 90px;
  }

  mat-card-subtitle {
    display: flex;
    justify-content: center;
    width: 207px;
    align-items: flex-end;
    height: 30px;
  }

  .image-container {
    display: flex;
    justify-content: center;

    img {
      width: 98px;
      height: 92px;
    }
  }

  mat-card-content p {
    display: flex;
    justify-content: center;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
  }
}
