.references-table {
  width: 100%;
}

.table-wrapper {
  height: 500px;
  overflow: auto;
}

::ng-deep .references-lib {
  height: 100%;
  mat-sidenav-content {
    width: 100%;
  }
  .reference-menu-toolbar {
    button {
      margin-right: 10px;
      position: relative;
      mat-icon {
        display: inline !important;
      }
      transition: background-color 0.1s;
    }
    button:hover {
      background-color: rgb(232, 232, 232);
    }
    height: 50px;
    padding: 0 50px;
    border-bottom: 1px solid #e4e4e4 !important;
  }
}