<div [ngClass]="{
  'prosemirror-textarea-wrapper-error': validity.length > 0 && !isProseMirrorFocused,
  'prosemirror-textarea-wrapper': validity.length <= 0 && !isProseMirrorFocused,
  'prosemirror-textarea-wrapper-focused': isProseMirrorFocused
}">
  <div #ProsemirrorEditor></div>

  <mat-error class="pm-errors">
    <div *ngIf="validity.length > 0 && !isProseMirrorFocused">
      {{ validity[0].message }}
    </div>
  </mat-error>
</div>

<textarea matInput [ngStyle]="{ display: 'none' }" #textarea></textarea>
