.mat-input-element {
  min-height: 16px;
}

::ng-deep .prosemirror-textarea-wrapper {
  .editor-container {
    border: 1px solid var(--color-e3e3e3);
    transition: all ease-in-out 300ms;
    border-radius: 6px;
    padding: 6px 12px;
  }
}

::ng-deep .prosemirror-label-tag {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 0 8px 0;
  color: var(--color-192956);
}

::ng-deep .prosemirror-textarea-wrapper-error {
  .editor-container {
    border: 1px solid var(--color-e56b87);
    transition: all ease-in-out 300ms;
    border-radius: 6px;
    padding: 6px 12px;
  }
}

::ng-deep .prosemirror-textarea-wrapper-focused {
  .editor-container {
    border: 1px solid var(--color-00b1b2);
    transition: all ease-in-out 300ms;
    border-radius: 6px;
    padding: 6px 12px;
  }
}

.pm-errors {
  height: 24px;

  > div {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    color: var(--color-e56b87);
    padding: 4px 0 0 0;
    letter-spacing: 0;
  }
}

::ng-deep .prosemirror-textarea-wrapper,
::ng-deep .prosemirror-textarea-wrapper-error,
::ng-deep .prosemirror-textarea-wrapper-focused {

  .ProseMirror {
    p,
    span {
      margin-top: -10px;
    }
    table p,
    span {
      margin-top: 0;
    }
  }
}
