<mat-toolbar class="controls-toolbar no-print" color="primary">
  <mat-toolbar-row class="controls-container">
    <div class="left-group">

      <button (click)="active='editor'" color="primary" mat-button [class.active]="active=='editor'"
        style="color:var(--color-192956)">
        <mat-icon svgIcon="edit1"></mat-icon>
        <span style="margin-left:2px">Editor</span>
      </button>
      <button (click)="active='library'" mat-button [class.active]="active=='library'"
        style="color:var(--color-192956)">
        <mat-icon svgIcon="library"></mat-icon>
        <span style="margin-left:5px">Library</span>
      </button>
      <button (click)="active='contributors'" color="primary" mat-button [class.active]="active=='contributors'"
        style="color:var(--color-192956)">
        <mat-icon svgIcon="contributors"></mat-icon>
        <span style="margin-left:5px">Contributors</span>
      </button>
    </div>

    <div class="right-group" style="display:flex;align-items:center;">
      <span class="vertical-delimiter"></span>
      <arpha-button (clickEvent)="print()" label="Print" class="small secondary" style="margin-right: 16px;">
      </arpha-button>
      <arpha-button (clickEvent)="export()" label="Export" class="small primary" style="margin-right: 16px;">
      </arpha-button>
      <arpha-button (clickEvent)="submit()" label="Submit" class="small primary" style="margin-right: 16px;">
      </arpha-button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>


<ng-container *ngIf="shouldBuild">

  <div class="actions-container">

    <app-editor-menu></app-editor-menu>

    <div class="side-navbar-actions">

      <button (click)="toggleSidebar('validation')" mat-icon-button [class.active]="sidebar=='validation'">
        <mat-icon svgIcon="validate"></mat-icon>
      </button>

      <button (click)="toggleSidebar('changes')" mat-icon-button [class.active]="sidebar=='changes'">
        <mat-icon svgIcon="reference"></mat-icon>
      </button>

      <button (click)="toggleSidebar('comments')" mat-icon-button [class.active]="sidebar=='comments'">
        <mat-icon svgIcon="comments"></mat-icon>
      </button>
    </div>
  </div>

  <mat-drawer-container autosize>

    <div class="main-container">

      <div class="data-tree">
        <app-meta-data-tree style="width:100%;height:100%;"></app-meta-data-tree>
      </div>

      <div class="editor-container" style="width:45%;">
        <app-prosemirror-editor style="width:100%;height:97%;"></app-prosemirror-editor>
      </div>

    </div>

    <mat-drawer #sidebarDrawer class="sidebar-container" mode="side" position="end">

      <app-comments-section *ngIf="sidebar=='comments'" style="width:100%;"></app-comments-section>

      <app-changes-section *ngIf="sidebar=='changes'" style="width:100%;"></app-changes-section>

      <app-validation-section *ngIf="sidebar=='validation'" ></app-validation-section>
    </mat-drawer>
  </mat-drawer-container>


</ng-container>
