<mat-toolbar class="controls-toolbar" color="primary">
  <mat-toolbar-row class="controls-toolbar-row">
    <div class="left-group">

      <button (click)="clickEditorTab()" color="primary" mat-button [class.active]="active=='editor'"
              style="color:var(--color-192956)">
        <mat-icon svgIcon="edit1"></mat-icon>
        <span style="margin-left:2px">Editor</span>
      </button>
     <!--  <button *ngIf="
                enforcer.newBeahviorSubject |
                hasPermission:'/references/items':
                'GET' |
                async
                " (click)="active='library'" mat-button [class.active]="active=='library'"
              style="color:var(--color-192956)">
        <mat-icon svgIcon="library"></mat-icon>
        <span style="margin-left:5px">Library</span>
      </button> -->
      <button (click)="openDialog();" color="primary" mat-button [class.active]="active=='contributors'"
              style="color:var(--color-192956)">
        <mat-icon svgIcon="contributors"></mat-icon>
        <span style="margin-left:5px">Contributors</span>
      </button>
    </div>
    <div class="middle-group" [ngStyle]="{'display':active == 'editor'?'flex':'none'}">
      <mat-form-field class="titel-form-control" appearance="legacy" color="black">
        <textarea matInput [formControl]="titleControl" rows="1" wrap="off"></textarea>
      </mat-form-field>
      <div class="right-avatars">
        <div class="more-avatar">
          <!--          {{usersInArticle.length}} {{usersInArticle | json}}-->
          <ng-container *ngFor="let user of usersInArticle | skipCurrent; index as i">
            <ngx-avatar class="avatar" *ngIf="user&&user.userInfo&&user.userInfo.data&&i<2" size="36"
                        [gravatarId]="user.userInfo.data.email" [name]="user.userInfo.data.name"
                        [fgColor]="(user.userInfo.color&&user.userInfo.color.userContrastColor)?user.userInfo.color.userContrastColor:null"
                        [bgColor]="(user.userInfo.color&&user.userInfo.color.userColor)?user.userInfo.color.userColor:null"></ngx-avatar>
            <!--            <app-avatar user="user"></app-avatar>-->
          </ng-container>

          <ng-container *ngIf="usersInArticle.length > 3">

            <button mat-mini-fab color="accent" [matMenuTriggerFor]="avatars_menu" aria-label="Show all avatars">
              +{{ usersInArticle.length - 3 }}
            </button>
            <mat-menu #avatars_menu="matMenu" class="article-users-list">
              <ng-container *ngFor="let user of usersInArticle | skipCurrent; index as i">
                <mat-card class="user-card" *ngIf="user&&user.userInfo&&user.userInfo.data&&i>1">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <ngx-avatar class="avatar-container" size="36" [gravatarId]="user.userInfo.data.email"
                                  [name]="user.userInfo.data.name"
                                  [fgColor]="(user.userInfo.color&&user.userInfo.color.userContrastColor)?user.userInfo.color.userContrastColor:null"
                                  [bgColor]="(user.userInfo.color&&user.userInfo.color.userColor)?user.userInfo.color.userColor:null"></ngx-avatar>
                    </div>
                    <mat-card-title>{{ user.userInfo.data.name }}</mat-card-title>
                    <mat-card-subtitle>{{ user.userInfo.data.email }}</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </ng-container>

            </mat-menu>

          </ng-container>
        </div>
      </div>


    </div>
    <div class="right-group" [ngStyle]="{'display':active == 'editor'?'flex':'none','align-items':'center'}">
      <span class="vertical-delimiter"></span>
      <arpha-button (clickEvent)="print()"
                    [disabled]="true"
                    label="Print"
                    class="small secondary"
                    style="margin-right: 16px;">
      </arpha-button>
      <arpha-button (clickEvent)="export()"
                    label="Export"
                    class="small primary"
                    style="margin-right: 16px;">
      </arpha-button>
      <arpha-button (clickEvent)="submit()"
                    [disabled]="true"
                    label="Submit"
                    class="small primary"
                    style="margin-right: 16px;">
      </arpha-button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="shouldBuild" class="main-editor-container"
     [ngStyle]="{'display':active == 'editor'?'flex':'none'}">
  <div class="actions-container">
    <!-- <div *ngIf="innerWidth<=600" class="tree_btn_container">
        <button (click)="showTreeContainer()" class="editor_tree_btn_mobile" mat-icon-button>
    <mat-icon>account_tree</mat-icon>
    </button>
    </div> -->
    <div class="left-column-placeholder"></div>

    <div class="prosemirror_menu_container">
      <app-editor-menu [ngStyle]="{'display':(userAccess == 'Commenter'||userAccess == 'Viewer')?'none':'block'}">
      </app-editor-menu>
    </div>


    <div class="side-navbar-actions">
      <button *ngIf="!(userAccess == 'Commenter'||userAccess == 'Viewer')" #trackChangesOnOffBtn
              [ngStyle]="{'color':previewMode.mode?'gray':this.shouldTrackChanges?'#19d928':'#f37b4a'}" mat-icon-button
              class="changes_state_btn" [matMenuTriggerFor]="beforeMenu">
        <mat-icon>{{previewMode.mode ? 'visibility' : this.shouldTrackChanges ? 'mode_edit' : 'edit_off'}}</mat-icon>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">

        <button (click)="turnOnOffTrachChanges(true)" mat-menu-item>
          <mat-icon class='changes_on_btn'>mode_edit</mat-icon>
          <span>Changes on</span>
        </button>

        <button (click)="turnOnOffTrachChanges(false)" mat-menu-item>
          <mat-icon class='changes_off_btn'>edit_off</mat-icon>
          <span>Changes off</span>
        </button>

        <button (click)="turnOnOffPreviewMode()" mat-menu-item>
          <mat-icon>{{previewMode.mode ? 'visibility_off' : 'visibility'}}</mat-icon>
          <span>{{previewMode.mode ? 'Preview off' : 'Preview on'}}</span>
        </button>

      </mat-menu>
      <button (click)="toggleSidebar('validation')" mat-icon-button [class.active]="sidebar=='validation'">
        <mat-icon svgIcon="validate"></mat-icon>
      </button>

      <button (click)="toggleSidebar('changes')" mat-icon-button [class.active]="sidebar=='changes'">
        <mat-icon svgIcon="reference"></mat-icon>
      </button>

      <button (click)="toggleSidebar('taxons')" mat-icon-button [class.active]="sidebar=='taxons'">
        <mat-icon>hub</mat-icon>
      </button>

      <button class="open-comments-sidebar" (click)="toggleSidebar('comments')" mat-icon-button
              [class.active]="sidebar=='comments'">
        <mat-icon [matBadgeHidden]="noComments" matBadge="{{commentsNumberChange | async}}" matBadgeSize="small" matBadgeColor="warn"
                  svgIcon="comments"></mat-icon>
      </button>
    </div>
  </div>

  <div class="scrollable-editor-content">
    <mat-drawer-container hasBackdrop='false' class="editor-drawer">
    <div class="main-container">
      <mat-drawer #metaDataTreeDrawer class="metadataTreeDrawer" mode='over' position='start' *ngIf="innerWidth <= 600">
        <div #treeDataDiv class="data-tree no-scroll">
          <app-meta-data-tree class="drag-drop-boundary" style="width:100%;height:100%;"></app-meta-data-tree>
        </div>
      </mat-drawer>
      <div #treeDataDiv *ngIf="innerWidth > 600" class="data-tree no-scroll">
        <app-meta-data-tree></app-meta-data-tree>
        <app-article-metadata></app-article-metadata>
      </div>

      <div class="editor-container">
        <div class="editor-content">
          <app-article id="app-article-element"></app-article>
          <div [ngStyle]="{'display':(userAccess == 'Viewer')?'none':'block'}" class="editor_buttons">
          <div class="editor_buttons_wrapper">
            <div class="commentBtnDiv">
              <button class="commentsBtn" mat-icon-button>
                <mat-icon svgIcon="comments"></mat-icon>
              </button>
            </div>
            <div [ngStyle]="{'display':(userAccess == 'Commenter'||userAccess == 'Viewer')?'none':'block'}"
                class="trackChangesBtnDiv">
              <button [ngClass]="shouldTrackChanges?'changes_on_editor_side_btn':'changes_off_editor_side_btn'"
                      (click)="turnOnOffTrachChanges()" class="trackChangesBtn" mat-icon-button>
                <mat-icon svgIcon="reference"></mat-icon>
              </button>
            </div>
            <div class="tag-words-btn-div"
                 [ngStyle]="{
                    'display':(userAccess == 'Commenter'||userAccess == 'Viewer'||!canCreateTag)?'none':'block'
                  }"
            >
              <button (click)="taxonService.tagText(false)"
                      [ngClass]="'tag_text_as_taxon_side_btn'"
                      [matTooltip]="'Tag this text as Taxon.'"
                      class="tag-single" mat-icon-button>
                <mat-icon >bookmark</mat-icon>
              </button>
            </div>
            <div class="tag-words-btn-div"
                 [ngStyle]="{
                    'display':(userAccess == 'Commenter'||userAccess == 'Viewer'||!canCreateTag)?'none':'block'
                  }"
            >
              <button (click)="taxonService.tagText(true)" [ngClass]="'tag_text_as_taxon_side_btn'" [matTooltip]="'Tag all occurrence of this text as Taxon.'"
                      class="tag-multiple" mat-icon-button>
                <mat-icon >bookmarks</mat-icon>
              </button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <mat-drawer #sidebarDrawer class="sidebar-container" mode="side" position="end">
      <editor-sidebar [sidebar]="sidebar"></editor-sidebar>
    </mat-drawer>
  </mat-drawer-container>
  </div>
</div>

<button mat-fab class="floating-button" [matMenuTriggerFor]="menu2" *ngIf="active == 'editor'">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu2="matMenu" class="floating-menu">
  <button #trackChangesOnOffBtn [ngClass]="shouldTrackChanges?'changes_on_btn_mobile':'changes_off_btn_mobile'"
          class="changes_state_btn_mobile" mat-menu-item [matMenuTriggerFor]="beforeMenu">
    <mat-icon>border_color</mat-icon>
  </button>
  <button (click)="toggleSidebar('validation')" mat-menu-item>
    <mat-icon svgIcon="validate"></mat-icon>
  </button>
  <button (click)="toggleSidebar('comments')" mat-menu-item>
    <mat-icon svgIcon="comments"></mat-icon>
  </button>
  <button (click)="toggleSidebar('changes')" mat-menu-item>
    <mat-icon svgIcon="reference"></mat-icon>
  </button>
  <button (click)="toggleSidebar('taxons')" mat-menu-item>
    <mat-icon>hub</mat-icon>
  </button>
</mat-menu>

<mat-menu #beforeMenu="matMenu" xPosition="before" yPosition='below'>
  <button (click)="turnOnOffTrachChanges(true)" mat-menu-item>
    <mat-icon class='changes_on_btn'>mode_edit</mat-icon>
    <span>Changes on</span>
  </button>
  <button (click)="turnOnOffTrachChanges(false)" mat-menu-item>
    <mat-icon class='changes_off_btn'>edit_off</mat-icon>
    <span>Changes off</span>
  </button>
</mat-menu>
