.controls-toolbar {
  @media screen and (max-width: 992px) {
    display: none;
  }
  border-bottom: 1px solid;
  border-color: var(--color-f1f2f2);
  .controls-container {
    min-height: 70px;
    .left-group {
      .active {
        color: var(--color-00b1b2) !important;
        font-weight: bold;
        ::ng-deep {
          .b {
            stroke: var(--color-00b1b2) !important;
          }
          .a {
            fill: var(--color-00b1b2) !important;
          }
        }
      }
    }
  }
}

.vertical-delimiter {
  margin-right: 16px;
  height: 22px;
  border: 1px solid #e3e3e3;
  border-right: 0;
}

.side-navbar-actions {
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 8px;
  .active {
    background: var(--color-e4f6f6) !important;
    ::ng-deep {
      .a {
        fill: var(--color-559efe) !important;
      }
    }
  }
}

app-meta-data-tree {
  display: inline-block;
  width: 22%;
  height: 462px;
  overflow-y: scroll;
  scrollbar-width: none;
}

app-prosemirror-editor {
  width : calc(100% - 52px);
  height: 443px;
  border-top-left-radius: 20px;
  margin-top: 20px;
  margin-left: 0;
  display: inline-flex;
  margin-right: 0;
}

.actions-container {
  @media screen and (max-width: 992px) {
    display: none;
  }
  height: 65px;
  background: var(--color-ffffff);
}

.main-container {
  background: var(--color-f9fafc);
  height: calc(100vh - 202px);
  display: flex;
  .data-tree {
    height: calc(100% - 20px);
    margin-top: 20px;
    width: 290px;
    background: #ffffff00;
    display: inline-flex;
    overflow-y: auto;
  }
  .editor-container {
    height: calc(100% - 20px);
    flex-grow: 1;
    margin-top: 20px;
    background: var(--color-ffffff);
    box-shadow: -2px 0px 1px #1bb1b22b;
    border-top-left-radius: 20px;
    display: inline-flex;
    overflow: hidden;
    overflow-y: auto;
  }
}

.editor_buttons {
  width: 40px;
  height: 100px;
  margin: 12px 12px 12px 0px;
  
  position: relative;
  .editor_buttons_wrapper{
    display: none;
  }
  .commentBtnDiv {
    height: 60px;
    //height: 40px;
    display: inline-flex;
    .commentsBtn{
      margin-bottom: 20px;
    }
  }
  .trackChangesBtnDiv{
    height: 40px;
    .trackChangesBtn{
      
    }
  }

  button{
    box-shadow: 0px 1px 5px 2px rgb(0 177 178 / 20%), 0px 2px 2px 0px rgb(0 177 178 / 20%), 0px 1px 4px 0px rgb(0 177 178 / 20%);
  }
}

.sidebar-container {
  width: 341px;
  height: 100%;
  height: 100%;
  background: var(--color-ffffff);
  box-shadow: -2px 0px 1px #1bb1b22b;
  display: inline-flex;
}

::-webkit-scrollbar-thumb {
  background: none !important;
}
::-webkit-scrollbar-track {
  background: none !important;
}
