.controls-toolbar {
  border-bottom: 1px solid;
  border-color: var(--color-f1f2f2);
  .controls-toolbar-row {
    min-height: 70px;
    justify-content: space-between;
    .left-group {
      .active {
        color: var(--color-00b1b2) !important;
        font-weight: bold;
         ::ng-deep {
          .b {
            stroke: var(--color-00b1b2) !important;
          }
          .a {
            fill: var(--color-00b1b2) !important;
          }
        }
      }
    }
  }
}

.user-reference-lib {
  height: 100%;
  position: fixed;
  width: 100%;
}

::ng-deep .middle-group {
  // width: 35%;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-content: center;
  .mat-form-field {
    // display: inline-block;
    // position: relative;
    // text-align: center;
    // width: 50%;
    // height: 100%;
    // vertical-align: middle;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    textarea {
      resize: none;
    }
  }
}

.right-avatars {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.more-avatar app-avatar {
  float: left;
  margin-left: -10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

::ng-deep .titel-form-control {
  color: black !important;
}

.vertical-delimiter {
  margin-right: 16px;
  height: 22px;
  border: 1px solid #e3e3e3;
  border-right: 0;
}

.side-navbar-actions {
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 8px;
  .active {
    background: var(--color-e4f6f6) !important;
     ::ng-deep {
      .a {
        fill: var(--color-559efe) !important;
      }
    }
  }
}

app-meta-data-tree {
  display: block;
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  scrollbar-width: none;
}

app-article-metadata {
  width: -webkit-fill-available;
  height: calc(30% - 9px);
  display: inline-block;
  background: var(--color-ffffff);
  box-shadow: 2px 2px 3px #1bb1b22b;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  margin-right: 17px;
  margin-bottom: 5px;
}

text-content-type {
  padding: 2px;
}

app-article {
  width: calc(100% - 52px);
  height: 443px;
  border-top-left-radius: 20px;
  margin-top: 20px;
  margin-left: 0;
  display: inline-block;
  margin-right: 0;
  padding: 10px;
}

app-prosemirror-editor {
  width: calc(100% - 52px);
  height: 443px;
  border-top-left-radius: 20px;
  margin-top: 20px;
  margin-left: 0;
  display: inline-flex;
  margin-right: 0;
}

.actions-container {
  height: 65px;
  background: var(--color-ffffff);
}

$treeSpace: 290px;
.main-container {
  background: var(--color-f9fafc);
  height: calc(100vh - 202px);
  display: flex;
  .data-tree {
    height: calc(100% - 20px);
    margin-top: 0px;
    width: $treeSpace;
    background: #ffffff00;
    display: block;
    overflow-y: auto;
  }
  .editor-container {
    width: 100%;
    height: calc(100% - 20px);
    margin-top: 20px;
    background: var(--color-ffffff);
    box-shadow: 0 4px 4px #1bb1b22b;
    border-top-left-radius: 20px;
    display: inline-flex;
    overflow: hidden;
    overflow-y: auto;
  }
  .editorSpace {
    width: calc(100% - 500px);
    border-top-right-radius: 20px;
    @media screen and (max-width: 992px) {
      width: calc(100% - #{$treeSpace});
    }
  }
}

::ng-deep .changes_state_btn_mobile {
  width: 28x !important;
  height: 41px !important;
  line-height: 28px !important;
  padding-right: 16px !important;
  .ng-star-inserted {
    display: none !important;
  }
  .mat-icon {
    width: 25px !important;
    height: 25px !important;
    line-height: 25px !important;
  }
  .material-icons {
    font-size: 25px !important;
  }
}

.changes_state_btn {
  width: 28x !important;
  height: 28px !important;
  line-height: 28px !important;
  .mat-icon {
    width: 25px !important;
    height: 25px !important;
    line-height: 25px !important;
  }
  .material-icons {
    font-size: 25px !important;
  }
}

.changes_on_btn {
  color: #19d928;
}

.changes_on_btn_mobile {
  .mat-icon {
    color: #19d928;
  }
}

.tree_btn_container {
  display: inline;
  margin-left: 10px;
  .editor_tree_btn_mobile {
    color: #00b1b2;
    margin-top: 12px;
    margin-bottom: 2px;
  }
}

.prosemirror_menu_container {
  margin-top: 0px !important;
  width: calc(100% - 40px);
  display: inline;
  vertical-align: middle;
}

.changes_off_btn {
  color: #f37b4a;
}

.changes_off_btn_mobile {
  .mat-icon {
    color: #f37b4a;
  }
}

.changes_on_editor_side_btn {
  box-shadow: 0px 1px 2px 1px #19d928, 0px 0px 0px 0px #19d928, 0px 1px 3px 0px #19d928 !important;
}

.changes_off_editor_side_btn {
  box-shadow: 0px 1px 2px 1px #f37b4a, 0px 0px 0px 0px #f37b4a, 0px 1px 3px 0px #f37b4a !important;
}

.track_changes_menu {
  background-color: turquoise;
}

.editor_buttons {
  width: 40px;
  height: 100px;
  margin: 12px 12px 12px 0px;
  position: relative;
  .editor_buttons_wrapper {
    display: none;
  }
  .commentBtnDiv {
    height: 60px;
    //height: 40px;
    display: inline-flex;
    .commentsBtn {
      margin-bottom: 20px;
    }
  }
  .trackChangesBtnDiv {
    height: 40px;
  }
  button {
    box-shadow: 0px 1px 5px 2px rgb(0 177 178 / 20%), 0px 2px 2px 0px rgb(0 177 178 / 20%), 0px 1px 4px 0px rgb(0 177 178 / 20%);
  }
}

.sidebar-container {
  width: 341px;
  height: 100%;
  background: var(--color-ffffff);
  box-shadow: -2px 0px 1px #1bb1b22b;
  display: inline-flex;
}

::-webkit-scrollbar-thumb {
  background: none !important;
}

::-webkit-scrollbar-track {
  background: none !important;
}

.floating-button {
  display: none;
  position: fixed;
  width: 58px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: var(--color-ffffff);
  color: var(--color-000000);
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 10000;
   ::ng-deep {
    .mat-button-wrapper {
      padding: 0 !important;
    }
  }
  mat-icon {
    font-size: 35px;
    width: 35px;
    height: 35px;
  }
}

::ng-deep {
  .floating-menu {
    min-width: 58px !important;
    width: 58px;
    margin-bottom: -27px;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    box-shadow: 0px 3px 6px #00000029 !important;
    button {
      text-align: center;
      &:last-child {
        margin-bottom: 27px;
      }
    }
    .mat-icon {
      margin-right: 0 !important;
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  .sidebar-container,
  .data-tree {
    width: 100% !important;
    /* position: absolute;
    z-index: 2;
    height: calc(100% - 36px) !important;
    margin-top: 20px !important;
    background: #F9FAFC !important;
    border-right: solid 2px;
    border-top: solid 2px;
    border-bottom-right-radius: 19px;
    border-bottom: solid 2px;
    border-top-right-radius: 19px;
    display: inline-flex;
    overflow-y: auto !important;
    padding-top: 10px;
    box-shadow: 0px 2px 8px -2px grey;
    border-color: #00B1B2;
    transition: visibility 0s, opacity 0.5s linear; */
  }
  .side-navbar-actions,
  .controls-toolbar {
    display: none !important;
  }
  .prosemirror_menu_container {
    display: none;
    margin-top: 0px !important;
    width: calc(100% - 50px);
    vertical-align: middle;
    app-editor-menu {
      width: 100%;
    }
  }
  .actions-container {
    display: none;
  }
  .metadataTreeDrawer {
    background-color: white !important;
    width: 100%;
  }
  .editor-container {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-top: 0 !important;
    height: 100% !important;
    width: 100% !important;
  }
  .floating-button {
    display: block;
  }
}

::ng-deep {
  .sidebar-bottom-sheet {
    height: 400px;
  }
}