@import "../../../../assets/colors";
.section-choose {
    padding: 24px 0 24px 0;
}

.input-search {
    border-radius: 18px;
    border: 1px solid $primary-green;
    line-height: 39px;
    padding-left: 15px;
    width: 97%;
    color: $black;
}

.error {
    background-color: $error-red;
}

label {
    color: $light-grey;
}

.search-field-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: white;
}
