<h2 mat-dialog-title>Add Manuscript to Project</h2>

<div class="search-field-sticky-wrapper">
  <form (keydown)="search(inputText)" fxFlex="100%%" fxLayout="column" class="search-form">
    <label>Select a Template</label>
    <mat-form-field class="s" floatLabel="never">
      <input matInput type="text" #inputText placeholder="search here">
      <button mat-flat-button color="primary" type="submit" matSuffix (click)="search(inputText)">
        Search
      </button>
    </mat-form-field>
  </form>
</div>

<mat-dialog-content>

  <div *ngIf="showError" class="error">No Layout selected.</div>

  <div *ngIf="articleTemplates.length == 0">
    There are no manuscripts found with this criteria
  </div>

  <mat-selection-list #topic [multiple]="false">
    <mat-list-option *ngFor="let article of articleTemplates" [value]="article.id" class="border">
      {{article.name}}
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button [mat-dialog-close]="true">Cancel</button>
  <button mat-stroked-button color="primary" (click)="closeManuscriptChoose()">Add Empty</button>
  <button mat-flat-button color="primary" (click)="createManuscript(topic.selectedOptions.selected[0]?.value)">
    Add Manuscript
  </button>
</mat-dialog-actions>
