//::ng-deep html.cdk-global-scrollblock {
//  top: 0px !important;
//}

//::ng-deep html.cdk-global-scrollblock {
//  position: initial !important;
//}
//
//::ng-deep html.cdk-global-scrollblock body {
//  position: fixed;
//}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
