.figures-container {
    display: block;
    height: 100%;
    width: 100%;
    .figures-list {
        .figure-box {
            margin: 10px;
            border: 2px solid #98f7eb;
            border-radius: 9px;
            .example-custom-placeholder {
            }
            .figure-view {
            }
            .figure-control-buttons {
            }
        }
        overflow-y: auto;
        height: calc(100% - 45px);
    }
    .figure-buttons {
        height: 36px;
        margin-top: 12px;
    }
}

//::ng-deep html.cdk-global-scrollblock {
//  top: 0px !important;
//}

//::ng-deep html.cdk-global-scrollblock {
//  position: initial !important;
//}
//
//::ng-deep html.cdk-global-scrollblock body {
//  position: fixed;
//}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
