<div *ngIf="figuresNumbers" class='figures-container'>
    <div *ngIf="figuresNumbers.length==0">There are no figures right now.You can be the first one to add a figure with the "Add Figure" button.</div>
    <div *ngIf="figuresNumbers.length>0" cdkDropList class="figures-list" (cdkDropListDropped)="drop($event)">
        <div class="figure-box" *ngFor="let figure of figuresNumbers;let i = index" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <div class="figure-view">
                <app-figure [(figure)]="figures![figure]" [figureIndex]="i"></app-figure>
            </div>
            <div class="figure-control-buttons">
                <button mat-raised-button (click)="editFigure(figures![figure],i)">Edit figure</button>
                <button mat-raised-button (click)="deleteFigure(figures![figure],i)">Delete figure</button>
            </div>
        </div>
    </div>
    <div class="figures-buttons">
        <button mat-raised-button (click)="addFigure()">Add Figure</button>
        <button mat-raised-button (click)="saveFigures()">Save Figures</button>
        <button mat-raised-button (click)="cancelFiguresEdit()">Cancel</button>
    </div>
</div>
