<mat-toolbar class="toolbar">
  <button mat-raised-button (click)="refreshContent()">Refresh Pdf view</button>
  <div class="select-format">
    <mat-label class="format-label">Choose format:</mat-label>
    <mat-select [(value)]="pageSize">
      <mat-option value="A0">A0</mat-option>
      <mat-option value="A1">A1</mat-option>
      <mat-option value="A2">A2</mat-option>
      <mat-option value="A3">A3</mat-option>
      <mat-option value="A4">A4</mat-option>
      <mat-option value="A5">A5</mat-option>
    </mat-select>
  </div>
  <div class='margin-fields'>
    <mat-form-field class="margin-field" appearance="fill">
      <mat-label class="margin-label">Margin Top:</mat-label>
      <input type="email" matInput [formControl]="marginTopControl" placeholder="Ex. pat@example.com">
    </mat-form-field>
    <mat-form-field class="margin-field" appearance="fill">
      <mat-label class="margin-label">Margin Right:</mat-label>
      <input type="email" matInput [formControl]="marginRightControl" placeholder="Ex. pat@example.com">
    </mat-form-field>
    <mat-form-field class="margin-field" appearance="fill">
      <mat-label class="margin-label">Margin Bottom:</mat-label>
      <input type="email" matInput [formControl]="marginBottomControl" placeholder="Ex. pat@example.com">
    </mat-form-field>
    <mat-form-field class="margin-field" appearance="fill">
      <mat-label class="margin-label">Margin Left:</mat-label>
      <input type="email" matInput [formControl]="marginLeftControl" placeholder="Ex. pat@example.com">
    </mat-form-field>
  </div>

  <div class="right-btn-container">
    <button mat-raised-button (click)="closePdfPrintDialog()">Close</button>
  </div>
</mat-toolbar>
<div class='preview-container'>
  <div class="elements-container">
    <!-- <div class="horizontal-lines" id="hr-lines">horizontal lines</div> -->
    <div #elementsContainer id="pm-elements-container">
      <div *ngIf="sectionsContainers.length>0">
        <div *ngFor="let section of sectionsContainers;let i = index">
          <div cdkDropList (cdkDropListDropped)="drop($event,i)">
            <div *ngFor="let element of sectionsContainers[i];let j = index" cdkDrag>
              <app-print-element *ngIf="i==sectionsContainers.length-1&&j==sectionsContainers[i].length-1" [(elementHTML)]="sectionsContainers[i][j]" [(refreshContent)]="refreshContent" [end]="true"></app-print-element>
              <app-print-element *ngIf="!(i==sectionsContainers.length-1&&j==sectionsContainers[i].length-1)" [(elementHTML)]="sectionsContainers[i][j]" [(refreshContent)]="refreshContent" [end]="false"></app-print-element>
              <!-- <app-print-element [(elementHTML)]="sectionsContainers[i][j]"></app-print-element> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <iframe class="pdfVi1" id='pdfV'></iframe>
</div>
<p id="width-measure-container" style="display:inline-block">

</p>