<mat-toolbar color="primary" class="app-toolbar no-print">
  <mat-toolbar-row class="notification-container">
    <a class="nav-link logo" href="/">
      <img  src="assets/logo/arpha.svg" width="150" height="40" title="Home" alt="Home">
    </a>
    <app-theme-toggle></app-theme-toggle>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="tree-container"> -->
        <!--<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
            &lt;!&ndash; This is the tree node template for leaf nodes &ndash;&gt;
            <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="example-tree-node">
                &lt;!&ndash; use a disabled button to provide padding for tree leaf &ndash;&gt;
                <button mat-icon-button disabled></button> {{node.name}}
            </cdk-nested-tree-node>
            &lt;!&ndash; This is the tree node template for expandable nodes &ndash;&gt;
            <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="example-tree-node">
                <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" cdkTreeNodeToggle>
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button> {{node.name}}
                <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                    <ng-container cdkTreeNodeOutlet></ng-container>
                </div>
            </cdk-nested-tree-node>
        </cdk-tree>-->
<!--     </div>
  </mat-drawer>
  <mat-drawer-content><ngx-prosemirror [(content)]="content"></ngx-prosemirror></mat-drawer-content>
</mat-drawer-container> -->
<!-- <app-editor></app-editor> -->
<router-outlet></router-outlet>

