.drag-container-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0 8px;

  mat-icon {
    margin: 8px 0 0 0;
    font-size: 24px;
    width: 24px;
    height: 24px;
  }

  img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 8px 0 0 8px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .component-description {
    display: block;
    margin: 8px 0 0 8px;
  }
}
