::ng-deep {
  .comment-box-replies {
    padding: 16px 15px 16px 16px !important;
    margin-right: 10px;
    margin-left: 44px;
    border-radius: 0 !important;
    border-left: 2px solid transparent;
    .comment-avatar {
      height: 36px;
      width: 36px;
      background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
      background-size: cover;
    }
    .mat-card-content {
      margin-top: 3px;
    }
    .mat-card-header-text {
      margin-left: 6px;
      margin-right: 5px;
    }
    .comment-subtitle {
      margin-bottom: 0px !important;
    }
    .header-actions {
      position: absolute;
      right: 0px;
      top: 10px;
      align-self: end;
      color: var(--color-e3e3e3);
    }
    &:hover {
      background: var(--color-f5f5f5);
      border-color: var(--color-559efe);
    }
  }
  .comment-box {
    padding: 16px 15px 16px 16px !important;
    margin-right: 10px;
    border-radius: 0 !important;
    border-left: 2px solid transparent;
    .comment-avatar {
      height: 36px;
      width: 36px;
      background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
      background-size: cover;
    }
    .mat-card-header-text {
      margin-left: 6px !important;
      margin-right: 5px;
    }
    .header-actions {
      display: flex;
      position: absolute;
      margin-left: 0;
      margin-right: auto;
      right: 0;
      mat-icon {
        vertical-align: initial;
        color: var(--color-e3e3e3);
      }
    }
    &:hover {
      background: var(--color-f5f5f5);
      border-color: var(--color-559efe);
    }
  }
  .mat-card {
    box-shadow: none !important;
  }
}

.selected-comment {
  background: var(--color-f5f5f5);
  border-color: var(--color-559efe);
}

.comment-title {
  font-family: var(--font-family-open-sans);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-192956);
  margin-bottom: 0 !important;
}

.comment-subtitle {
  font-family: var(--font-family-open-sans);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-12);
  line-height: var(--line-spacing-17);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-818181);
  margin-top: 0 !important;
  margin-bottom: 12px;
}

.resolve-button {
   ::ng-deep {
    button {
      height: 25px !important;
      width: 78px !important;
      line-height: 17px !important;
      font-size: 12px !important;
    }
  }
}

.selected-text {
  margin-bottom: 12px;
  .selected-text-title {
    font-family: var(--font-family-open-sans);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-20);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-192956);
  }
  .selected-text-content {
    font-family: var(--font-family-open-sans);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-20);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-818181);
    border-left: 2px solid;
    border-color: var(--color-559efe);
    padding-left: 5px;
    cursor: pointer;
  }
}

.comment-elipsis-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.morelessBtn {
  color: #8fc0f1;
  cursor: pointer;
}

.comment-display-none {
  display: none;
}

.comment-full-content {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.comment-content {
  font-family: var(--font-family-open-sans);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-12);
  line-height: var(--line-spacing-16);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-192956);
  overflow: hidden;
  display: inline-block;
}

.show-more-label {
  display: block;
  font-family: var(--font-family-open-sans);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-12);
  line-height: var(--line-spacing-16);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-559efe);
  margin-bottom: 12px;
  cursor: pointer;
}

.show {
  overflow: visible;
  height: auto;
}

.reply {
  font-family: var(--font-family-open-sans);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-12);
  line-height: var(--line-spacing-16);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-192956);
  cursor: pointer;
  width: 33px;
}

.reply-input {
  input {
    border: none;
    background-color: transparent;
  }
  div {
    display: inline-flex;
  }
  .input_div {
    margin-top: 9px;
  }
  .input_icon {
    float: right;
    margin-right: 9px;
    margin-top: 5px;
    mat-icon {
      font-size: 23px;
      height: 23px;
      width: 23px;
      color: #cacdd3;
    }
  }
  textarea:focus,
  input:focus {
    outline: none;
  }
  background-color: transparent;
  border: 1.5px solid #e3e1e1;
  border-radius: 9px;
  height: 33px;
  width: 84%;
  margin-right: 2px;
  padding-left: 10px;
  margin-top: 10px;
}

// calcel color #818181
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c8c4c4;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c8c4c4;
}

.comment-reply-btns {
  text-align: left;
  margin-top: 17px;
  button {
    margin-right: 6px;
    border-radius: 18px;
    height: 27px !important;
    line-height: 25px !important;
    font-size: 13 !important;
    box-shadow: none;
  }
  .cencel-button {
    background-color: transparent;
    color: #818181 !important;
    border: none;
  }
  .comment-button {
    background-color: transparent;
    border: 1px solid var(--color-00b1b2);
    border-width: 1.5px;
    border-color: #00b1b2 !important;
    color: #00b1b2 !important;
    /* &:hover{
      background-color: #EBEBEB;
    } */
    &:disabled {
      background-color: #f5f5f5;
      color: #cacdd3 !important;
      border-color: #cacdd3 !important;
      opacity: 0.7;
       ::ng-deep {
        .mat-button-wrapper {
          opacity: 0.7;
        }
      }
    }
  }
}