<h2 mat-dialog-title>Delete {{mapping[data.type].objType}}</h2>

<mat-dialog-content class="dynamic-content-height" >
  <p *ngIf="!data.hideDescription">Do you really want to {{mapping[data.type].operation}} <strong>"{{data.objName}}"</strong> {{mapping[data.type].objType}}?</p>
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button (click)="cancelDeletion()">Cancel</button>
  <button mat-flat-button color="primary" (click)="confirmDeletion()">{{mapping[data.type].operationCapital}} {{mapping[data.type].objTypeCapital}}</button>
</mat-dialog-actions>
