<div *ngIf="!nestedNode" [ngClass]="{
    'node-box':!hasChildren,
    'node-box-dropdownbox':hasChildren}" cdkDrag>
    <div [style.position]='"relative"' (mouseover)="showButtons(cdkDragSection,true,!hasChildren?'sectionBorder':'sectionBorderListItem','selectedEditor',node)" (mouseout)="showButtons(cdkDragSection,false,!hasChildren?'sectionBorder':'sectionBorderListItem','selectedEditor',node)"
        #cdkDragSection>
        <div class="border-placeholder" *cdkDragPlaceholder>
            <div class="border-view"></div>
        </div>
        <div class=' border' [ngClass]="{
            'sectionBorderInactive':!hasChildren && mouseOn!==node.sectionID,
            'sectionBorderListItemInactive':hasChildren && mouseOn!==node.sectionID,
            'selectedEditor' : node.sectionID == focusedId&&mouseOn!==node.sectionID&&!hasChildren,
            'sectionBorder':node.sectionID == focusedId&&mouseOn==node.sectionID&&!hasChildren,
            'sectionBorderListItem':node.sectionID == focusedId&&mouseOn==node.sectionID&&hasChildren}">
            <button [style.display]="'none'" mat-icon-button cdkDragHandle class="drag_btn hidden " [ngClass]="{
                'drag_btn_leaf_node':!hasChildren,
                'drag_btn_list_node':hasChildren}"><mat-icon >drag_indicator</mat-icon></button>
            <button *ngIf="hasChildren" #expandBtn mat-icon-button class="expandBTN" (click)="changeDisplay(childrenDiv);listDiv.style.display == 'none'?expandIcon='chevron_right':expandIcon='expand_more'"><mat-icon class="{{expandIcon}}"  #icon>{{expandIcon}}</mat-icon></button>
            <div class="text-section-div">
                {{node.title.titleContent}}
            </div>
        </div>
        <div class="section_btn_container">
            <button [style.display]="'none'"  [ngStyle]="node.edit.main?{'order':'1','margin': '2px'}:{}" mat-mini-fab class="section_btn_outerList hidden" *ngIf="node.edit.bool" (click)="editNodeHandle(node, nodeFormGroup);node.active = true"><mat-icon class="matIcon" >edit</mat-icon></button>
            <button [style.display]="'none'" [ngStyle]="!node.add.main?{'order':'-2'}:{'order':'1','margin': '2px'}" mat-mini-fab class="section_btn_outerList hidden" *ngIf="node?.add?.bool" (click)="addNodeHandle(node.sectionID)"><mat-icon class="matIcon">add</mat-icon ></button>
            <button [style.display]="'none'" [ngStyle]="!node.delete.main?{'order':'2'}:{'order':'-1','margin': '2px'}" mat-mini-fab class="section_btn_outerList hidden" *ngIf="node?.delete?.bool" (click)="deleteNodeHandle(node.sectionID)"><mat-icon class="matIcon">remove_circle_outline</mat-icon></button>
        </div>
    </div>
    <div #listDiv class="example-list-dropdownbox" [style.display]="'none'" #childrenDiv>
        <app-cdk-list-recursive *ngIf="hasChildren" [(articleSectionsStructure)]="node.children" [listData]="{expandParentFunc,listDiv}"  [nestedList]="true" [listParentId]='node.sectionID'></app-cdk-list-recursive>
    </div>
</div>
<div *ngIf="nestedNode" [ngClass]="{
    'node-box-nested':!hasChildren,
    'node-box-dropdownbox-nested':hasChildren}" cdkDrag>
    <div [style.position]='"relative"' (mouseover)="showButtons(cdkDragSection,true,
    !hasChildren?'sectionBorderNested':'sectionBorderListNested',
    !hasChildren?'selectedEditorNestedLeaf':'selectedEditorNestedList',node)" (mouseout)="showButtons(cdkDragSection,false,
    !hasChildren?'sectionBorderNested':'sectionBorderListNested',
    !hasChildren?'selectedEditorNestedLeaf':'selectedEditorNestedList',node)" #cdkDragSection>
        <div class="text-placeholder"></div>
        <div class="border-placeholder-nested" *cdkDragPlaceholder>
            <div class="border-view"></div>
        </div>
        <div class=' border' [ngClass]="{
            'sectionBorderNestedInactive':!hasChildren && mouseOn!==node.sectionID,
            'sectionBorderListNestedInactive' : mouseOn!==node.sectionID&&hasChildren,
            'selectedEditorNestedLeaf' : node.sectionID == focusedId&&mouseOn!==node.sectionID&&!hasChildren,
            'selectedEditorNestedList' : node.sectionID == focusedId&&mouseOn!==node.sectionID&&hasChildren}">
            <button [style.display]="'none'" mat-icon-button cdkDragHandle class="drag_btn hidden" [ngClass]="{
                'drag_btn_leaf_node_nested':!hasChildren,
                'drag_btn_list_node_nested':hasChildren}"><mat-icon >drag_indicator</mat-icon></button>
            <button *ngIf="hasChildren" #expandBtn mat-icon-button class="expandBTNNested" (click)="changeDisplay(childrenDiv);listDiv.style.display == 'none'?expandIcon='chevron_right':expandIcon='expand_more'"><mat-icon class="{{expandIcon}}" #icon>{{expandIcon}}</mat-icon></button>
            <div class="text-section-div-nested">
                {{node.title.titleContent}}
            </div>
        </div>
        <div class="section_btn_container">
            <button [style.display]="'none'" [ngStyle]="node.edit.main?{'order':'1','margin': '2px'}:{}" mat-mini-fab class="section_btn_nestedList hidden" *ngIf="node.edit.bool" (click)="editNodeHandle(node, nodeFormGroup)"><mat-icon class="matIcon">edit</mat-icon></button>
            <button [style.display]="'none'" [ngStyle]="!node.add.main?{'order':'-2'}:{'order':'1','margin': '2px'}" mat-mini-fab class="section_btn_nestedList hidden" *ngIf="node?.add?.bool" (click)="addNodeHandle(node.sectionID)"><mat-icon class="matIcon">add</mat-icon></button>
            <button [style.display]="'none'" [ngStyle]="!node.delete.main?{'order':'2'}:{'order':'-1','margin': '2px'}" mat-mini-fab class="section_btn_nestedList hidden" *ngIf="node?.delete?.bool" (click)="deleteNodeHandle(node.sectionID)"><mat-icon class="matIcon">remove_circle_outline</mat-icon></button>
        </div>
    </div>
    <div #listDiv class="example-list-dropdownbox-nested" [style.display]="'none'" #childrenDiv>
        <div *ngIf="!lastNestedChild&&hasChildren" class="vertical_line_nestedList"></div>
        <app-cdk-list-recursive *ngIf="hasChildren" [(articleSectionsStructure)]="node.children" [listData]="{expandParentFunc,listDiv}" [nestedList]="true" [listParentId]='node.sectionID'></app-cdk-list-recursive>
    </div>
</div>