<div [ngClass]="{
    'node-box':node.children.length == 0,
    'node-box-dropdownbox':node.children.length > 0}" cdkDrag>
    <div [style.position]='"relative"' (mouseover)="showButtons(cdkDragSection,true,node.children.length == 0?'sectionBorder':'sectionBorderListItem','selectedEditor',node)" (mouseout)="showButtons(cdkDragSection,false,node.children.length == 0?'sectionBorder':'sectionBorderListItem','selectedEditor',node)"
        #cdkDragSection>
        <div class="border-placeholder" *cdkDragPlaceholder>
            <div class="border-view"></div>
        </div>
        <div class=' border' [ngClass]="{
            'sectionBorderInactive':node.children.length == 0 && mouseOn!==node.sectionID,
            'sectionBorderListItemInactive':node.children.length > 0 && mouseOn!==node.sectionID,
            'selectedEditor' : node.sectionID == focusedId&&mouseOn!==node.sectionID&&node.children.length == 0,
            'sectionBorderListItem':node.sectionID == focusedId&&mouseOn!==node.sectionID&&node.children.length >0}">
            <button [style.display]="'none'" mat-icon-button cdkDragHandle class="drag_btn hidden " [ngClass]="{
                'drag_btn_leaf_node':node.children.length == 0,
                'drag_btn_list_node':node.children.length > 0}"><mat-icon >drag_indicator</mat-icon></button>
            <button *ngIf="node.children.length > 0" #expandBtn mat-icon-button class="expandBTN" (click)="changeDisplay(childrenDiv);listDiv.style.display == 'none'?icons[i]='chevron_right':icons[i]='expand_more'"><mat-icon class="{{icons[i]}}"  #icon>{{icons[i]}}</mat-icon></button>
            <div class="text-section-div">
                {{node.title.titleContent}}
            </div>
        </div>
        <div class="section_btn_container">
            <button [style.display]="'none'" [ngStyle]="node.edit.main?{'order':'1','margin': '2px'}:{}" mat-mini-fab class="section_btn_outerList hidden" *ngIf="node.edit.bool" (click)="editNodeHandle(node, nodesForms[i], i);node.active = true"><mat-icon class="matIcon" >edit</mat-icon></button>
            <button [style.display]="'none'" [ngStyle]="!node.add.main?{'order':'-2'}:{'order':'1','margin': '2px'}" mat-mini-fab class="section_btn_outerList hidden" *ngIf="node?.add?.bool" (click)="addNodeHandle(node.sectionID)"><mat-icon class="matIcon">add</mat-icon ></button>
            <button [style.display]="'none'" [ngStyle]="!node.delete.main?{'order':'2'}:{'order':'-1','margin': '2px'}" mat-mini-fab class="section_btn_outerList hidden" *ngIf="node?.delete?.bool" (click)="deleteNodeHandle(node.sectionID)"><mat-icon class="matIcon">remove_circle_outline</mat-icon></button>
        </div>
    </div>
    <div #listDiv class="example-list-dropdownbox" [style.display]="'none'" #childrenDiv>
        <app-cdk-list-recursive *ngIf="node.children.length > 0" [(articleSectionsStructure)]="node.children" [parentListData]="{expandParentFunc,listDiv}" [startFromIndex]="startFromIndex+i+1" [id]='node.sectionID'></app-cdk-list-recursive>
    </div>
</div>