<div class="changes-wrapper">
  dd
  <div class="all-changes-container">
    dd
    <div *ngFor="let change of this.allChanges;let i = index" class="change-container" style="opacity: 0;" attr.chnageId="{{change.changeMarkId}}" attr.sectionId="{{change.section}}" #changeContainer>
      <app-change [change]="change" [index]="i" [(doneRenderingChangesSubject)]="doneRenderingChangesSubject" (selected)="changeParentContainer($event,changeContainer,change)"></app-change>
    </div>
  </div>
<!--
  <div class="changes-footer">
    <div class="left" (click)="focusPrevChange()">
      <mat-icon style="margin-right:8px">west</mat-icon>
      Previous change
    </div>
    <div class="right" (click)="focusNextChange()">
      Next change
      <mat-icon style="margin-left:8px">east</mat-icon>
    </div>
  </div> -->

</div>
