::ng-deep {
  .change {
    padding: 16px 15px 16px 16px !important;
    width: 90%;
    border-radius: 0 !important;
    border-left: 2px solid transparent;
    .avatar {
      height: 36px;
      width: 36px;
      background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
      background-size: cover;
    }
    .mat-card-header-text {
      margin-left: 6px !important;
    }
    .header-actions {
      margin-left: auto;
      mat-icon {
        color: var(--color-e3e3e3);
      }
    }
    &:hover {
      background: var(--color-f5f5f5);
      border-color: var(--color-559efe);
    }
  }
  .mat-card {
    box-shadow: none !important;
  }
}

.focusedChange {
  background: var(--color-f5f5f5);
  border-color: var(--color-559efe);
}

.change-title {
  font-family: var(--font-family-open-sans);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-19);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-192956);
  margin-bottom: 0 !important;
}

.change-subtitle {
  font-family: var(--font-family-open-sans);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-12);
  line-height: var(--line-spacing-17);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-818181);
  margin-top: 0 !important;
  margin-bottom: 12px;
}

.resolve-button {
   ::ng-deep {
    button {
      height: 25px !important;
      width: 78px !important;
      line-height: 17px !important;
      font-size: 12px !important;
    }
  }
}

.edited-text {
  margin-bottom: 12px;
  .edited-text-title {
    font-family: var(--font-family-open-sans);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-20);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-192956);
  }
  .edited-text-content {
    font-family: var(--font-family-open-sans);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-20);
    letter-spacing: var(--character-spacing-0);
  }
}

.change-action-button {
   ::ng-deep {
    .arpha-button {
      width: 90px;
      height: 25px;
      color: green;
    }
  }
}

.insertion {
  background-color: #72e090;
}

.delFromPopup {
  color: black;
  background-color: #fd90002e;
  text-decoration: line-through black 2px;
}

.insFromPopup {
  color: black;
  background-color: #fd90002e;
}

.format_change {
  border-bottom: 2px solid royalblue;
}

.target {
  width: fit-content;
}
