<mat-card *ngIf="change.main" class="change {{index == changesService.focusedChangeIndex?'focusedChange':''}}" (click)="focusCitat()">
  <mat-card-header>
<!--    <div mat-card-avatar class="avatar"></div>-->
<!--    {{change.markattrs | json}}-->
    <ngx-avatar mat-card-avatar size="36" [bgColor]="change.markattrs.color" [name]="change.markattrs.username"></ngx-avatar>
    <mat-card-title class="change-title">{{change.markattrs.username}}</mat-card-title>
    <mat-card-subtitle class="change-subtitle">{{getDate(change.markattrs.date)}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="edited-text">
      <div class="edited-text-title">{{change.type == 'deletion'?'Deleted:':change.type=='format_change'?'Formated:':'Inserted:'}}</div>
      <div class="edited-text-content {{change.type}} target" [ngStyle]="{background:change.markattrs.color}">{{change.text}}</div>
    </div>
    <arpha-button *ngIf="ydocService.curUserRole&&ydocService.curUserRole!='Viewer'&&ydocService.curUserRole!='Commenter'" (clickEvent)="!previewMode.mode?acceptChange(change.viewRef,change.type,change.markattrs):undefined" class="small secondary change-action-button" label="Accept" icon="done" style="margin-right:20px;">
    </arpha-button>
    <arpha-button *ngIf="ydocService.curUserRole&&ydocService.curUserRole!='Viewer'&&ydocService.curUserRole!='Commenter'" (clickEvent)="!previewMode.mode?declineChange(change.viewRef,change.type,change.markattrs):undefined" class="small secondary change-action-button" label="Decline" icon="close">
    </arpha-button>
  </mat-card-content>
</mat-card>
