<h2 mat-dialog-title>Invite Contributor</h2>

<mat-dialog-content>
  <form [formGroup]="inviteUsersForm" fxLayout="column nowrap">

    <mat-form-field class="form-chips" appearance="fill" fxFlex="48">
      <mat-chip-list #chipList aria-label="Select user">
        <mat-chip *ngFor="let user of users" (removed)="remove(user)">
          {{user.email}}
          <button *ngIf="!dialogIsOpenedFromComment" matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input *ngIf="!dialogIsOpenedFromComment" placeholder="User..." #usersInput [formControl]="invitedPeople"
               [matAutocomplete]="auto" [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let invitedUser of resultData | async" [value]="invitedUser"
                    [innerHTML]="invitedUser.email | makeTextBold : invitedPeople.value">
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field floatLabel='never' class="form-role" appearance="fill" fxFlex="48">
      <mat-label>Role</mat-label>
      <mat-select formControlName="selectOptions">
        <mat-option *ngFor="let option of selectOptions" [value]="option.name">{{option.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="message-form" appearance="fill" fxFill>
      <textarea matInput formControlName="message"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button [mat-dialog-close]="true">Cancel</button>
  <button mat-flat-button color="primary" [disabled]="users.length==0||
              !inviteUsersForm.controls.selectOptions.value||
              ((!inviteUsersForm.controls.message.value||
              inviteUsersForm.controls.message.value.length == 0)&&!dialogIsOpenedFromComment)"
          (click)="(users.length==0||!inviteUsersForm.controls.selectOptions.value||
                ((!inviteUsersForm.controls.message.value||
              inviteUsersForm.controls.message.value.length == 0)&&!dialogIsOpenedFromComment)
              )?undefined:submitInviteUsersForm()">Invite User
  </button>
</mat-dialog-actions>
