
.affiliations-container{
  margin: 8px;
  .form-affiliations{
    margin: 8px;
  }
}
.remove-affiliation-btn{
  margin-top: 17px;
    height: fit-content;
    display: inline-block;
    width: 173px;
}
