@import "../../../../../assets/colors";
.example-chip-list {
  width: 100%;
}
input.mat-chip-input {
  color: #707070;
}
textarea {
  color: #707070;
}
mat-icon {
  color: var(--color-00b1b2);
}

.pt {
  padding: 14px 0 0 15px;
}
.action-button-ok {
  background: var(--color-00b1b2);
  color: #ffffff;
}
::ng-deep .people-container {
  .form-container {
    width: 100%;
    .form-chips {
      width: 100% !important;
      max-width: 100% !important;
      .mat-form-field-infix {
        padding-top: 0 !important;
        border-top: none !important;
      }
    }
    .form-role {
      .mat-form-field-label {
        padding-left: 1px !important;
        padding-top: 1px !important;
      }

    }
  }
}
::ng-deep .meessage-form-container{
  .message-form{
    .mat-form-field-infix {
      border-top: none !important;
    }
  }
}

.invite-contributors-header{

}
