mat-formio-form-field {
  .mat-form-field {
    max-height: 35px;
    padding-left: 6px;
    border: 1px solid #e3e3e3 !important;
    border-radius: 6px !important;
    transition: all ease-in-out 300ms;
    margin-bottom: 14px;
  }

  .upper-label {
    span {
      font-weight: bold;
      padding-bottom: 4px;
      padding-left: 4px;
      color: #192956;
    }
  }
}

// ::ng-deep mat-formio-form-field {
//   .mat-form-field {
//     .mat-select-trigger {
//       .mat-select-arrow-wrapper {
//         padding-right: 6px;
//       }

//       .mat-select-value {
//         padding-top: -11px;
//       }
//     }
//   }

//   .mat-form-field-label-wrapper {
//     .mat-form-field-label {
//       padding: 10px 6px 6px;
//     }
//   }
// }

::ng-deep .mat-form-field-underline {
  display: none;
}
