<!--<h1 mat-dialog-title>Hi {{data.rank}}</h1>-->
<!--<div mat-dialog-content>-->
<!--  <p>What's your favorite animal?</p>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Favorite Animal</mat-label>-->
<!--    <input matInput [(ngModel)]="data.scientificName">-->
<!--  </mat-form-field>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Favorite Animal</mat-label>-->
<!--    <input matInput [(ngModel)]="data.commonName">-->
<!--  </mat-form-field>-->
<!--</div>-->

<formio [form]="data" (change)="onChange($event)"></formio>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="dataChanged" cdkFocusInitial>Ok</button>
</div>
