.figure {
  .figure-description {
    width: 100%;
  }

  .figure-components {
    margin: 0 -8px;

    .component-image {
      margin: 0 8px;
      max-width: 200px;
      padding: 12px 0 0 0;

      img {
        max-width: 100%;
        border-radius: 8px;
        object-fit: cover;
      }

      p {
        margin: 0;
      }
    }

    .component-video {
      margin: 18px;
      max-width: 300px;
    }
  }
}
