.figure-components{
    display: flex;
    .component{
        margin: 18px;
    }
}

.component-description {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.figure{
    .figure-index{

    }
    .figure-description{

    }
    .figure-components{
        .component{
            
        }
    }

}