.figure {
    .figure-index {
    }
    .figure-description {
        width: 100%;
    }
    .figure-components {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        .component-image {
            margin: 18px;
            max-width: 200px;
        }
        .component-video {
            margin: 18px;
            max-width: 300px;
        }
    }
}
