<div class="main-top">

  <div class="logo">
    <img src="./assets/img/logo1.svg" height="42px" width="197px" alt="arpha">
  </div>

  <div class="container">
    Collaborative authoring, reviewing and publishing in one place!
  </div>

  <arpha-button label="Login" routerLink="/login" class="small primary login-button"></arpha-button>
  <arpha-button label="Register" routerLink="/register" class="small secondary register-button"></arpha-button>
</div>

<div class="main-bottom">
  <div class="card-container">
    <div class="card">
      <p class="card-title">
        Online authoring
      </p>
      <div class="image-container">
        <img src="./assets/img/Illustration-start.svg" height="205px" width="224px" alt="girl">
      </div>
      <ul class="card-content">
        <li>Write a manuscript online</li>
        <li>Easy online revisions and editing</li>
        <li>Submit it at a click of a button</li>
      </ul>
    </div>
    <div class="card">
      <p class="card-title">
        Online collaboration
      </p>
      <div class="image-container">
        <img src="./assets/img/Illustration-start.svg" height="205px" width="224px" alt="girl">
      </div>
      <ul class="card-content">
        <li>Write a manuscript online</li>
        <li>Easy online revisions and editing</li>
        <li>Submit it at a click of a button</li>
      </ul>
    </div>
    <div class="card">
      <p class="card-title">
        Integrated services
      </p>
      <div class="image-container">
        <img src="./assets/img/Illustration-start.svg" height="205px" width="224px" alt="girl">
      </div>
      <ul class="card-content">
        <li>Write a manuscript online</li>
        <li>Easy online revisions and editing</li>
        <li>Submit it at a click of a button</li>
      </ul>
    </div>
  </div>
</div>
