<div class="main-top">
    <div class="emptyPusher">
    </div>
    <div class="logo">
        <img src="././assets/img/logo1.svg" height="42px" width="197px" alt="arpha">
    </div>
    <div class="container">
        Collaborative authoring, reviewing and publishing in one place!
    </div>
    <button type="button" class="login-button" routerLink="/login">Login</button>
    <button type="button" class="register-button" routerLink="/register">Register</button>
</div>
<div class="main-bottom">
    <div class="card-container">
        <div class="card">
            <p class="card-title">
                Online authoring
            </p>
            <div class="image-container">
                <img src="././assets/img/Illustration-start.svg" height="205px" width="224px" alt="girl">
            </div>
        </div>
        <div class="card">
            <p class="card-title">
                Online collaboration
            </p>
            <div class="image-container">
                <img src="././assets/img/Illustration-start.svg" height="205px" width="224px" alt="girl">
            </div>
        </div>
        <div class="card">
            <p class="card-title">
                Integratetd services
            </p>
            <div class="image-container">
                <img src="././assets/img/Illustration-start.svg" height="205px" width="224px" alt="girl">
            </div>
        </div>
    </div>
</div>
