
.all-notification{
  .notifications-head{
    margin-left: 24px;
    margin-top: 7px;
  }
  margin-top: 8%;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 11px;
  padding: 12px;
  box-shadow: 0px 6px 10px #1bb1b269 !important;
  display: block;
  .notifications-table{
    width: 100% !important;
  }
  .new{
    font-weight: 1000;
    text-decoration: underline;
  }
  .event{
    cursor: pointer;
  }
}
