<div *ngIf="displayComponents">
    <div class="figure-preview-components">
        <div class="preview-component" *ngFor="let component of figureComponents">
            <div *ngIf="component.container.componentType == 'image'">
                <img src='{{component.container.url}}' height="100" />
            </div>
            <div *ngIf="component.container.componentType == 'video'">
                <iframe width="200" height="100" [src]="custumPipe(component.container.url)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
            </iframe>
            </div>
            <div class="component-description"><span>{{component.container.description}}</span></div>
        </div>
    </div>
</div>