.button-raised-primary-add {
    background-color: #02b1b4;
    border: 1px solid #02b1b4;
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .button-stroked-warn-cancel {
    background-color: white;
    border: 1px solid #979797;
    color: #979797;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px;
    font-weight: 600;
    padding-right: 23px;
    padding-left: 23px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 25px;
    cursor: pointer;
  
    &:hover {
      background-color: rgb(243, 242, 242);
    }
  }