.codemirror-editor {
  width: 100%;
  height: 350px;
  border: #85dfe0 2px solid;
}
::ng-deep .cm-editor {
  height: 100%;
}

.example-list {
  list-style-type: none;
  padding: 0;
}

.example-list li {
  display: table-cell;
  padding: 4px;
}

.columns-select {
  margin: 0;
}

.reorder-box {
  display: block;
  padding: 4px;
  box-sizing: border-box;
  width: 300px;
  height: 220px;

  .reorder-box-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: flex-start;
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 4px;

    .drag-container {
      display: block;
      width: 100%;
      cursor: move;
    }

    .actions-container {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: flex-end;
      width: 100%;
      padding: 12px;
      box-sizing: border-box;
      border-top: 1px solid #ccc;

      button {
        margin: 0 0 0 16px;
      }
    }
  }
}

.grid-edit {
  .heading-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .figure-description {
      flex-grow: 1;
      padding-right: 16px;
    }

    .columns-select {
      flex-shrink: 0;
    }
  }

  .reorder-grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -4px;
    width: 300px;

    .cdk-drag-placeholder {
      .reorder-box-content {
        background: #e0f3f4;
        border: 1px dashed #1ebabb;
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
    }

    .cdk-drop-list {
      display: block;
      box-sizing: border-box;
    }

    &[data-cols="1"] {

    }

    &[data-cols="2"] {
      width: 600px;
    }

    &[data-cols="3"] {
      width: 900px;
    }

    &[data-cols="4"] {
      width: 1200px;
    }

  }
}









.example-box {
  width: 300px;
  height: 300px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);

  &:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    opacity: .6;
  }

  app-figure-component-preview {
    width: calc(100% - 60px);
    height: 100%;
  }
}





.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.preview-component {
  display: inline-block;
  margin: 7px;
}




.items-on-row-form-field {
  width: 100%;
}

.cell-component {
  display: inline-block;
  width: auto;
}

.a4-figure-preview {
  width: 100%;
}

.row-component {
  width: 100%;
}

.fig-img {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  img {
    vertical-align: middle;
  }
}

.pdf-view-container{
  display: block;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.component-description {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
