.dialog-btns{
  text-align: right;
  padding: 5px;
  padding-top: 30px;
}

.jats-error{
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  max-width: 400px;
}

.jats-error:after{
  content : "";
  position: absolute;
  left: calc(5% / 2);
  bottom  : 0;
  height  : 1px;
  width   : 95%;  /* or 100px */
  border-bottom:1px solid gray;
}

.jats-error:first-child::before {
  content : "";
  position: absolute;
  left: calc(5% / 2);
  top  : 0;
  height  : 1px;
  width   : 95%;  /* or 100px */
  border-bottom:1px solid gray;
}

.errors-contaiener{
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
