<h2 mat-dialog-title class="title-margin-bottom">Add Contributors</h2>

<div class="search-field-wrapper">

  <div class="mat-form-field-search-label">Invite people</div>
  <mat-form-field class="mat-form-field-search" appearance="fill">
    <input type="text"
           class="input-search"
           placeholder="Search by name"
           matInput
           [formControl]="searchFormControl"
           autocomplete="off">
    <mat-icon matPrefix class="prefix-icon">search</mat-icon>
  </mat-form-field>
  <div class="search-result-container">
    <div *ngIf="searchResults.length>0" class="search-results">
      <ng-container *ngFor="let contributor of searchResults">
        <div fxLayout="row nowrap"
             fxLayoutAlign="flex-start center"
             fxLayoutGap="16px"
             class="results-row"
             (click)="openAddContrDialog(contributor)">
          <ngx-avatar mat-card-avatar size="32" [gravatarId]="contributor.email" [name]="contributor.name"></ngx-avatar>

          <span class="contributor-name" fxFlex="1 0 0">
            {{contributor.name}}{{contributor.email == currentUser.email?" (you)":''}}
          </span>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<mat-dialog-content class="fixed-dialog-content-height">
  <div class="container-shadow-contributor">
    <div *ngIf="this.collaborators &&this.collaborators.collaborators && this.currentUser" class="container-contributers"
         fxLayout="column nowrap"
         fxLayoutGap="10px">
      <div *ngFor="let contributor of collaborators.collaborators" fxLayout="column">
        <div *ngIf="contributor.role == 'Owner'"
             fxLayout="row nowrap"
             fxLayoutAlign="flex-start center"
             fxLayoutGap="16px"
             class="contributor-row is-owner">
          <ngx-avatar mat-card-avatar size="42" [gravatarId]="contributor.email" [name]="contributor.name"></ngx-avatar>

          <span class="contributor-name" fxFlex="1 0 0">
            {{contributor.name}}{{contributor.email == currentUser.email?" (you)":''}}
          </span>

          <span class="contributor-role">{{contributor.role}}</span>
        </div>

        <div *ngIf="contributor.role != 'Owner'"
             class="contributor-row"
             fxLayout="row nowrap"
             fxLayoutAlign="flex-start center"
             fxLayoutGap="16px">

          <ngx-avatar mat-card-avatar size="42" [gravatarId]="contributor.email" [name]="contributor.name"></ngx-avatar>

          <span class="contributor-name" fxFlex="1 0 0">
            {{contributor.name}}{{contributor.email == currentUser.email?"(you)":''}}
          </span>

          <span class="contributor-role">{{contributor.role}}</span>

          <button *ngIf="isOwner" class="edit-contributor-btn" (click)="editContr(contributor)">
            <mat-icon svgIcon="editGreen"></mat-icon>
          </button>

        </div>
      </div>
    </div>
    <article fxLayout="column">
      <div fxLayout="row" fxLayoutGap="15px" fxFill fxLayoutAlign="end" class="dialogbtns border-radius20 mt10px">
        <!-- <button class="normal-btn-cancel-graystyle" (click)="closeDialog()">Cancel</button> -->
      </div>

    </article>
  </div>
  <!-- <div class="container-shadow-contributor mt10px ">
    <article fxLayout="column">
      <div fxLayout="row" fxFill fxLayoutAlign="start center"><span class="font-size16px bold">Owner
                    Settings</span></div>
      <div fxLayout="row" fxFill fxLayoutAlign="start center">
        <section fxLayout="column" [formGroup]="ownerSettingsForm" (ngSubmit)="submitOwnerSettingsForm()">
          <p>
            <mat-checkbox formControlName="accessAdding">Prevent editors from changing access and adding new people
            </mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="disableOptionsPrint">Disable options to print, copy for commenters and viewers</mat-checkbox>
          </p>
        </section>
      </div>
    </article>
  </div> -->
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button [mat-dialog-close]="true">Cancel</button>
  <button mat-flat-button color="primary" (click)="closeDialog()">Done</button>
</mat-dialog-actions>




