<div class="refs-in-article">
  <h1>Edit: References</h1>
  <div class="all-refs-container">
    <div class="ref-container">
      <div class="ref">Reference should be here</div>
      <div class="ref-actions-btns">
        <button mat-raised-button>
          <mat-icon>edit</mat-icon>
          <span>
            Edit
          </span>
        </button>
        <button mat-raised-button>
          <mat-icon>delete</mat-icon>
          <span>
            Delete
          </span>
        </button>
      </div>
    </div>
    <div class="ref-container">
      <div class="ref">Reference should be here</div>
      <div class="ref-actions-btns">
        <button mat-raised-button>
          <mat-icon>edit</mat-icon>
          <span>
            Edit
          </span>
        </button>
        <button mat-raised-button>
          <mat-icon>delete</mat-icon>
          <span>
            Delete
          </span>
        </button>
      </div>
    </div>
    <div class="ref-container">
      <div class="ref">Reference should be here</div>
      <div class="ref-actions-btns">
        <button mat-raised-button>
          <mat-icon>edit</mat-icon>
          <span>
            Edit
          </span>
        </button>
        <button mat-raised-button>
          <mat-icon>delete</mat-icon>
          <span>
            Delete
          </span>
        </button>
      </div>
    </div>

  </div>
  <div class="action-buttons">
    <div class="add-ref-btn">
      <button mat-raised-button (click)="openAddNewRefToEditorDialog()">
        <mat-icon>add</mat-icon>
        <span>Add reference</span>
      </button>
    </div>
    <div class="dialog-actions-btns">
      <button mat-raised-button>Save</button>
      <button mat-raised-button>Close</button>
    </div>
  </div>
</div>
