<h2 mat-dialog-title class="title-margin-bottom">References</h2>

<mat-dialog-content>
  <div *ngIf="loadingData" class="spinner-container" (click)="preventClick($event)">
    <div class="spinner-container-inner">
      <mat-spinner *ngIf="loadingData"></mat-spinner>
    </div>
  </div>

  <div class="references-list">
    <div class="reference-box" *ngFor="let ref of ydocAndChangedRefsSubject | async ; let i = index">
      <div>
        <div class="reference-view">
          <div class="reference">
            <div>
              <!--<strong [innerHTML]="ref.ref.title"></strong>-->
              <span [innerHTML]="ref.citation.textContent"></span>
            </div>
          </div>
        </div>
        <mat-form-field *ngIf="ref.refCiTOControl" appearance="fill" #referenceType class="edit-ref-cito">
          <mat-label class="">Citation Typing Ontology:</mat-label>
          <mat-select class="select-reference" [formControl]="ref.refCiTOControl">
            <mat-option *ngFor="let type of CiToTypes " [value]="type">
              {{type.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-group">
          <button mat-stroked-button color="primary" (click)="editRef(ref)">
            Edit
          </button>
          <button mat-stroked-button color="warn" (click)="deleteRef(ref)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" fxLayoutGap="8px">
  <button mat-stroked-button (click)="cancelRefsInAfticleEdit()">Cancel</button>
  <button mat-stroked-button color="primary" (click)="openAddNewRefToEditorDialog()">Add Reference</button>
  <button mat-flat-button color="primary" (click)="saveRefsInArticle()">Save</button>
</mat-dialog-actions>

