
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@benrbray/prosemirror-math/style/math.css';
@import '../node_modules/katex/dist/katex.min.css';
@import "../node_modules/prosemirror-view/style/prosemirror.css";

.insertion {
  color: black;
  background: #DFFFC9;

}

.formio-form{
  min-height: fit-content !important;
}

.selected-format-change,
.selected-block-change {
  background-color: #eefbfb;
}

.ProseMirror {
  word-break: break-all !important;
}

.format-change {
  border-bottom: 2px solid royalblue;
}

.deletion{
  color: black;
  background-color: #FFD0D0;
  text-decoration: line-through black;
}

@media screen and (max-width: 600px){
  app-root{
    height: 100%;
  }
  app-main{
    height: 100%;
  }
}
/* [data-track] {
  position: relative;
}

[data-track]::before {
  content: '';
  position: absolute;
  border-left: 2px solid royalblue;
  left: -10px;
  height: 100%;
} */

.selected-deletion {
  background: indianred;
}

.selected-format-change,
.selected-block-change {
  background-color: #eefbfb;
}

.link_popup_div{
  position: absolute;
    display: inline-flex;
    background-color: #e4f6f6;
    border-color: #00b1b2 !important;
    border: 1.8px solid;
    border-radius: 17px;
    padding: 6px;
    z-index: 1;
    right: 50%;
    transform: translate(50%, 25px);
    box-shadow: 0px 1px 5px 2px #cacdd3, 0px 2px 2px 0px rgb(0 177 178 / 20%), 0px 1px 4px 0px rgb(0 177 178 / 20%);
}

.format-change {
  border-bottom: 2px solid royalblue;
}

.insertion .show-insertion {
  color: black;
  background: white;
}
.deletion .hide-deletion {
  display: none;
  //text-decoration: line-through black;
}


::ng-deep .mat-dialog-container {
  background-color: aquamarine;
}

.subtle { color: #777 }

.comment {
  background-color: gold;
  span{
    background-color: transparent;
  }

  .active-comment {
    background-color: gold;
    /* color: black; */
  }
}

.commentList, .commentText {
  display: block;
  padding: 0;
  margin: 0;
  font-style: normal;
}

.set-align-left{
  text-align: left;
}

.set-align-center{
  text-align: center;
}

.set-align-right{
  text-align: right;
}

.tooltip-wrapper {
  display: inline-block;
  position: relative;
  width: 0;
  overflow: visible;
  vertical-align: bottom;
}

.ProseMirror ul.commentList {
  font-family: "Source Sans Pro";
  font-size: 16px;
  width: 15em;
  position: absolute;
  top: calc(100% + 8px);
  left: -2em;
  font-size: 1rem;
  color: black;
  background: white;
  font-weight: normal;
  border: 1px solid #888;
  border-radius: 5px;
  z-index: 10;
  padding: 0;
}



li.commentText {
  padding: 2px 20px 2px 5px;
  position: relative;
  pointer-events: auto;
  margin: 0;
}

li.commentText + li.commentText {
  border-top: 1px solid silver;
}

.commentEdit{
  float: right;
    background: none;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    display: contents;
}

.commentDelete {
  float: right;
  right: 0;
  border: 0;
  font: inherit;
  display: inline;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

.commentDelete:hover {
  color: #f88;
}

.commentEdit:hover {
  color: #f88;
}

.doclist {
  z-index: 20;
  display: block;
  padding: 2px 2px;
  margin: 0;
  border: 1px solid silver;
  position: absolute;
  background: white;
  font-size: 90%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-height: 15em;
  overflow-y: auto;
}

.ProseMirror > .ProseMirror-yjs-cursor:first-child {
    margin-top: 16px;
  }

  .ProseMirror-yjs-cursor {
    position: relative;
    margin-left: -1px;
    margin-right: -1px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-color: orange;
    word-break: normal;
    pointer-events: none;
  }

  .ProseMirror-yjs-cursor > div {
    position: absolute;
    top: -1.05em;
    left: -1px;
    font-size: 13px;
    background-color: rgb(250, 129, 0);
    font-family: serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    user-select: none;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
  }
  #y-functions {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  placeholder {
    display: inline;
    border: 1px solid #ccc;
    color: #ccc;
  }
  placeholder:after {
    content: "â˜";
    font-size: 200%;
    line-height: 0.1;
    font-weight: bold;
  }
  #y-functions > * {
    display: inline-block;
  }

.doclist li {
  display: block;
  padding: 1px 3px;
  margin: 0;
  cursor: pointer;
}

.doclist li:hover {
  background: #5ae;
  color: white;
}

.docinfo {
  position: relative;
  color: #555;
}

.ProseMirror-report {
  position: fixed;
  top: 0; right: 0; left: 0;
  border-width: 0;
  border-style: solid;
  border-bottom-width: 1px;
  padding: 3px 27px 5px;
  white-space: pre;
  z-index: 1000;
}

.ProseMirror-report-fail {
  background: rgb(255, 230, 230);
  border-color: rgb(200, 150, 150);
}

.ProseMirror-report-delay {
  background: rgb(255, 255, 200);
  border-color: rgb(200, 200, 120);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  display: flex;
  flex-direction: column;
}

router-outlet {
  display: none;
}

.align-icon {
  display: inline;
  height: 22px;
  color: #a3a3a3;
  padding-left: 20px;
  &:first-of-type:before {
    content: "";
    background: url('./assets/icons/align.svg');
    background-size: cover;
    position: absolute;
    width: 31px;
    height: 23px;
    margin-left: -27px;
    transform: scale(0.68);
  }
}

.text-menu-icon{
  display: inline;
  height: 22px;
  color: #a3a3a3;
  padding-left: 20px;
  &:first-of-type:before {
    content: "";
    background: url('./assets/icons/text.svg');
    background-size: cover;
    position: absolute;
    width: 28px;
    height: 30px;
    margin-left: -19px;
    transform: translate(-3px, -3px) scale(0.6);
  }
  &:nth-of-type(2) {
    @media screen and (max-width: 600px) {
      left: 180px;
    }
  }
}

.table-icon {
  display: inline;
  height: 22px;
  color: #a3a3a3;
  padding-left: 20px;
  &:first-of-type:before {
    content: "";
    background: url('./assets/icons/table.svg');
    background-size: cover;
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: -24px;
    transform: translate(2px,-2px) scale(0.75);
  }
}

.editorName {
  color: var(--color-aedbd0);
  text-align: left;
  font: normal normal 500 12px/17px Open Sans !important;
  letter-spacing: 0;
  opacity: 1;
}

.editor-dialog-container .mat-dialog-container {
  border-radius: 20px;
}