.title{
  margin-bottom: 10px;
}

.table-row {
  cursor: pointer;
}

.search-container{
  width: 100%;
  height: 100%;
}

.spinner-container-citating {
  position: absolute;
  display: grid;
  height: 100%;
  width: 100%;
  .spinner-container-2 {
    margin: auto;
    width: fit-content;
  }
}

.demo-row-is-clicked {
  font-weight: 900;
  background-color: #c0e4e46e;
}

.spinner-container {
  height: 244px;
  display: flex;
  .spinner-container-1 {
    vertical-align: middle;
    display: inline-block;
    margin: auto;
  }
}

.citate-btn {
  margin-right: 20px;
}

.search-result {
  height: 245px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #34cbcc9e;
  border-radius: 5px;
}

::ng-deep .citate-options-container {
  height: 100%;
  position: relative;
  .reference-options {
    .mat-form-field.mat-focused {
      background-color: transparent;
      color: black !important;
    }
  }
  .buttons {
    position: absolute;
    bottom: 0;
  }
}
