.mat-card-delete {
  border: 1px solid rgba(171, 170, 172, 0.5);
  border-radius: 8px;
}

.affiliations-container{
  margin: 8px;
  .form-affiliations{
    margin: 8px;
  }
}
.remove-affiliation-btn{
  margin-top: 17px;
    height: fit-content;
    display: inline-block;
    width: 173px;
}
